swagger: '2.0'
info:
  version: '3.0'
  title: Stellar Home Mobile
  contact: {}
host: stellarhome.id
basePath: /api/v1/mobile
securityDefinitions: {}
schemes:
  - http
consumes:
  - application/json
produces:
  - application/json
paths:
  /mobile_banner:
    get:
      summary: Mobile Banner
      tags:
        - Banner
      operationId: MobileBanner
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: false
          default: Bearer {token}
          type: string
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MobileBanner'
          examples:
            application/json:
              success: true
              error: null
              message: Data retrieved.
              data:
                current_page: 1
                data:
                  - id: 1
                    slug: properti
                    title: Properti
                    banner_image: Properti-64d1adab120c9.webp
                    created_at: '2023-08-07T19:50:20.000000Z'
                    updated_at: '2023-08-07T19:51:23.000000Z'
                    url_banner_image: https://stellarhome.id/media/mobile_banner/banner_image/Properti-64d1adab120c9.webp
                first_page_url: https://stellarhome.id/api/v1/mobile/mobile_banner?page=1
                from: 1
                last_page: 1
                last_page_url: https://stellarhome.id/api/v1/mobile/mobile_banner?page=1
                links:
                  - url: null
                    label: '&laquo; Previous'
                    active: false
                  - url: https://stellarhome.id/api/v1/mobile/mobile_banner?page=1
                    label: '1'
                    active: true
                  - url: null
                    label: Next &raquo;
                    active: false
                next_page_url: null
                path: https://stellarhome.id/api/v1/mobile/mobile_banner
                per_page: 15
                prev_page_url: null
                to: 1
                total: 1
          headers:
            Date:
              type: string
              default: Wed, 03 Apr 2024 03:19:11 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Vary:
              type: string
              default: Authorization
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v4?s=nsd1cM63wuHT5Gjc0EK57i%2FA1AN%2ByofZn%2BHfnUk2n8OVU3xQquuCnHl3yV4aD4v8NnGf1Ml2DZwmfBhe4WT2KBh5HPfHMIiBAyD7b635vtzyMK1704dZdWcCqoJ7%2B2wMSw%3D%3D"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 86e5ea661f621fbe-HKG
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
  /bidding/tambah:
    post:
      summary: Tambah Biding Callback
      tags:
        - Bidding
      operationId: TambahBidingCallback
      deprecated: false
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: Authorization
          in: header
          required: false
          default: Bearer {token}
          type: string
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: id_prospek
          in: formData
          required: true
          type: integer
          format: int32
          description: required|exist in prospek
        - name: is_approve
          in: formData
          required: true
          type: integer
          format: int32
          description: required|boolean
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Idprospekinvalid'
          examples:
            application/json:
              success: false
              error:
                id_prospek:
                  - The selected id prospek is invalid.
              message: The selected id prospek is invalid.
          headers:
            Date:
              type: string
              default: Thu, 18 Apr 2024 04:21:21 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Vary:
              type: string
              default: Authorization
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v4?s=qqqR%2BbJNCAr%2FNjqH4PnUPiuNSJFSD6Ru1ePzWYltuAgWrG9mog%2FLSdopSrtFLYj5fbnpwxIFi5Z0OvSIj1flBUWb19Oq2uG6Lb8dWIdOmfuXlWNJZqD5kTF5XvNIZAxZRQ%3D%3D"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 8761de16bd675dce-HKG
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
  /klien/tambah:
    post:
      summary: Tambah Klien Baru
      tags:
        - Klien
      operationId: TambahKlienBaru
      deprecated: false
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: Authorization
          in: header
          required: false
          default: Bearer {token}
          type: string
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: nama_klien
          in: formData
          required: true
          type: string
          description: required|max:255
        - name: nomor_hp
          in: formData
          required: true
          type: string
          description: required|+62xxxxxxxx
        - name: email
          in: formData
          required: true
          type: string
          description: required|email
        - name: catatan
          in: formData
          required: true
          type: string
          description: nullable
        - name: nama_bank
          in: formData
          required: true
          type: string
          description: nullable
        - name: nomor_rekening
          in: formData
          required: true
          type: integer
          format: int64
          description: nullable|numeric
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/KlienBerhasilDisimpan'
          examples:
            application/json:
              success: true
              error: null
              message: Klien berhasil disimpan.
              data:
                nama_klien: Client Adi
                email: adi200@gmail.com
                catatan: null
                nama_bank: BCA
                nomor_rekening: '3221102928'
                sales_id: 34
                sales_type: Sales Agent
                telepone: '+62878855115252'
                kode_otp: 5517
                slug: client-adi
                updated_at: '2024-04-03T03:25:06.000000Z'
                created_at: '2024-04-03T03:25:06.000000Z'
                id: 44
          headers:
            Date:
              type: string
              default: Wed, 03 Apr 2024 03:25:07 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Vary:
              type: string
              default: Authorization
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v4?s=mAoqZ1TldQMyOw0R2Gork3RMmO3L7SvHLv0wb8Znbf8SW%2FCWSQeXLuc7YcVDIP3WAEoTru3vFHJ6rqb7OI5yd6Y9jNL8xG%2Fr8v7%2BZpikrqoTOaIm0unPM3ktSHpIfxfxzg%3D%3D"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 86e5f312dfe71fbe-HKG
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
  /klien/verifikasi:
    post:
      summary: Verifikasi Klien OTP
      tags:
        - Klien
      operationId: VerifikasiKlienOTP
      deprecated: false
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: Authorization
          in: header
          required: false
          default: Bearer {token}
          type: string
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: nomor_hp
          in: formData
          required: true
          type: string
          description: required
        - name: kode_otp
          in: formData
          required: true
          type: integer
          format: int32
          description: required|numeric
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Kodeverifikasiberhasilditerima'
          examples:
            application/json:
              success: true
              error: null
              message: Kode verifikasi berhasil diterima.
          headers:
            Date:
              type: string
              default: Thu, 18 Apr 2024 04:29:59 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Vary:
              type: string
              default: Authorization
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v4?s=sfBryhgE8ro7NUzd6y4EJBHEa1o3442lPct1clnWa2%2FyO1G3Rme%2FwQfFYRmF%2FklQMyO%2BCPbkOweVEMyf9ojWR7j7evdDkqm6%2BwKXgm7%2BTbmz8V3YOL%2B8guMjDQ78S4k%2BXw%3D%3D"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 8761eaba3a685dce-HKG
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
  /klien/resend:
    post:
      summary: Resend Klien OTP
      tags:
        - Klien
      operationId: ResendKlienOTP
      deprecated: false
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: Authorization
          in: header
          required: false
          default: Bearer {token}
          type: string
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: nomor_hp
          in: formData
          required: true
          type: string
          description: required
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Kodeverifikasiberhasildikirim'
          examples:
            application/json:
              success: true
              error: null
              message: Kode verifikasi berhasil dikirim.
              data: 1727
          headers:
            Date:
              type: string
              default: Thu, 18 Apr 2024 04:28:15 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Vary:
              type: string
              default: Authorization
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v4?s=c2shOttGSznpLJS0091l3EwYbtbwIH1EZQjtOAaWSZYTuPgYZaSDYNvvSYxFWxVraME%2FFYVWosNIozmmQVyV8%2BvD0dU5mGXVd%2FOnyxng2e2G%2BeMNxKd7nY4Zqi8AZpkfKQ%3D%3D"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 8761e82f1b505dce-HKG
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
  /klien:
    get:
      description: http://epichome.id/admin/api/v1/mobile/klien/{sales_id}
      summary: Data Klien
      tags:
        - Klien
      operationId: DataKlien
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: false
          default: Bearer {token}
          type: string
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Dataretrieved'
          examples:
            application/json:
              success: true
              error: null
              message: Data retrieved.
              data:
                current_page: 1
                data:
                  - slug: client-adi-8
                    nama_klien: Client Adi
                    sales_id: '51'
                    sales_type: Sales Agent
                    telepone: '+628788551152'
                    email: adi200@gmail.com
                    catatan: null
                    nama_bank: BCA
                    nomor_rekening: '3221102928'
                    created_at: '2024-04-18T04:24:37.000000Z'
                    updated_at: '2024-04-18T04:24:37.000000Z'
                    id: 51
                    is_verified: 0
                    kode_otp: '6234'
                  - slug: client-adi-7
                    nama_klien: Client Adi
                    sales_id: '51'
                    sales_type: Sales Agent
                    telepone: '+628788551152'
                    email: adi20@gmail.com
                    catatan: null
                    nama_bank: BCA
                    nomor_rekening: '3221102928'
                    created_at: '2024-04-18T04:24:24.000000Z'
                    updated_at: '2024-04-18T04:24:24.000000Z'
                    id: 50
                    is_verified: 0
                    kode_otp: '6388'
                  - slug: client-adi-6
                    nama_klien: Client Adi
                    sales_id: '51'
                    sales_type: Sales Agent
                    telepone: '+628788551152'
                    email: adi200@gmail.com
                    catatan: null
                    nama_bank: BCA
                    nomor_rekening: '3221102928'
                    created_at: '2024-04-18T04:24:15.000000Z'
                    updated_at: '2024-04-18T04:24:15.000000Z'
                    id: 49
                    is_verified: 0
                    kode_otp: '4058'
                  - slug: client-adi-5
                    nama_klien: Client Adi
                    sales_id: '51'
                    sales_type: Sales Agent
                    telepone: '+6287885511'
                    email: adi200@gmail.com
                    catatan: null
                    nama_bank: BCA
                    nomor_rekening: '3221102928'
                    created_at: '2024-04-18T04:24:05.000000Z'
                    updated_at: '2024-04-18T04:24:05.000000Z'
                    id: 48
                    is_verified: 0
                    kode_otp: '5194'
                  - slug: client-adi-4
                    nama_klien: Client Adi
                    sales_id: '51'
                    sales_type: Sales Agent
                    telepone: '+628788551152'
                    email: adi200@gmail.com
                    catatan: null
                    nama_bank: BCA
                    nomor_rekening: '3221102928'
                    created_at: '2024-04-18T04:23:55.000000Z'
                    updated_at: '2024-04-18T04:23:55.000000Z'
                    id: 47
                    is_verified: 0
                    kode_otp: '6235'
                  - slug: client-adi-3
                    nama_klien: Client Adi
                    sales_id: '51'
                    sales_type: Sales Agent
                    telepone: '+62878855115252'
                    email: adi200@gmail.com
                    catatan: null
                    nama_bank: BCA
                    nomor_rekening: '3221102928'
                    created_at: '2024-04-18T03:20:47.000000Z'
                    updated_at: '2024-04-18T03:20:47.000000Z'
                    id: 46
                    is_verified: 0
                    kode_otp: '3327'
                first_page_url: https://stellarhome.id/api/v1/mobile/klien?page=1
                from: 1
                last_page: 1
                last_page_url: https://stellarhome.id/api/v1/mobile/klien?page=1
                links:
                  - url: null
                    label: '&laquo; Previous'
                    active: false
                  - url: https://stellarhome.id/api/v1/mobile/klien?page=1
                    label: '1'
                    active: true
                  - url: null
                    label: Next &raquo;
                    active: false
                next_page_url: null
                path: https://stellarhome.id/api/v1/mobile/klien
                per_page: 15
                prev_page_url: null
                to: 6
                total: 6
          headers:
            Date:
              type: string
              default: Thu, 18 Apr 2024 04:32:10 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Vary:
              type: string
              default: Authorization
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v4?s=FZESDaAzdtNFuAk2aInK4c%2FmuEvfMCOdwB0n5jx2p7tn2Ig7VLW%2BRloG38aLpY4DfL0xvzPEIr8dbTLS3C3uwjvLpL6myVfPsuS8TxLjK5yVVMRhKgSjTzldGr%2FE9jUIqg%3D%3D"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 8761edf09ccc5dce-HKG
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
  /proyek_primary:
    get:
      summary: Proyek Primary
      tags:
        - Proyek Primary
      operationId: ProyekPrimary
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: false
          default: Bearer {token}
          type: string
        - name: search
          in: query
          required: true
          type: string
          description: ''
        - name: provinsi
          in: query
          required: true
          type: string
          description: ''
        - name: kota
          in: query
          required: true
          type: string
          description: ''
        - name: kecamatan
          in: query
          required: true
          type: string
          description: ''
        - name: kamar_tidur
          in: query
          required: true
          type: string
          description: ''
        - name: kamar_mandi
          in: query
          required: true
          type: string
          description: ''
        - name: tipe_bangunan
          in: query
          required: true
          type: string
          description: ''
        - name: developer
          in: query
          required: true
          type: string
          description: ''
        - name: harga_termurah
          in: query
          required: true
          type: string
          description: ''
        - name: harga_termahal
          in: query
          required: true
          type: string
          description: ''
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DataRetrieved1'
          examples:
            application/json:
              success: true
              error: null
              message: Data retrieved.
              data:
                current_page: 1
                data:
                  - id: 152
                    slug: new-abaya-village
                    id_tipe_bangunan: 1
                    status_unit: Jual
                    nama_proyek: New Abaya Village
                    provinsi: BANTEN
                    kota: KABUPATEN TANGERANG
                    kecamatan: CISAUK
                    alamat: Suradita, Cisauk, Tangerang Regency, Banten 15341
                    harga_awal: 1107657666
                    komisi: '3'
                    id_developer: 201
                    is_project: false
                    status_listing: Belum Terdaftar
                    nama_developer: Kultura Properties
                    nama_tipe_bangunan: Town House
                    url_thumbnail_image: https://stellarhome.id/media/proyek_primary/thumbnail_image/New Abaya Village-660133144e35d.webp
                    harga_termahal: 1246264952
                    jumlah_kamar_tidur_terdikit: 3
                    jumlah_kamar_tidur_terbanyak: 3
                    jumlah_kamar_mandi_terdikit: 2
                    jumlah_kamar_mandi_terbanyak: 2
                    luas_tanah_terkecil: 72
                    luas_tanah_terbesar: 90
                    luas_bangunan_terkecil: 75
                    luas_bangunan_terbesar: 75
                    url_banner_proyek:
                      - https://stellarhome.id/media/proyek_primary/banner_proyek/New Abaya Village-66013314d1f92.webp
                    closing_fee: 5000000
                    point: null
                    multiple_point: false
                  - id: 151
                    slug: the-astelia-bintaro
                    id_tipe_bangunan: 1
                    status_unit: Jual
                    nama_proyek: The Astelia Bintaro
                    provinsi: BANTEN
                    kota: KOTA TANGERANG SELATAN
                    kecamatan: PONDOK AREN
                    alamat: Jl. Jurang Mangu Bar. No.199/02, RT.05/RW.02, Jurang Mangu Barat, Kec. Pd. Aren, Kota Tangerang Selatan, Banten 15229
                    harga_awal: 1980000000
                    komisi: '3'
                    id_developer: 200
                    is_project: false
                    status_listing: Belum Terdaftar
                    nama_developer: Tristar Sebana Propertindo
                    nama_tipe_bangunan: Town House
                    url_thumbnail_image: https://stellarhome.id/media/proyek_primary/thumbnail_image/The Astelia Bintaro-66012727020f7.webp
                    harga_termahal: 2280000000
                    jumlah_kamar_tidur_terdikit: 4
                    jumlah_kamar_tidur_terbanyak: 4
                    jumlah_kamar_mandi_terdikit: 3
                    jumlah_kamar_mandi_terbanyak: 3
                    luas_tanah_terkecil: 60
                    luas_tanah_terbesar: 65
                    luas_bangunan_terkecil: 130
                    luas_bangunan_terbesar: 130
                    url_banner_proyek:
                      - https://stellarhome.id/media/proyek_primary/banner_proyek/The Astelia Bintaro-660127273911d.webp
                      - https://stellarhome.id/media/proyek_primary/banner_proyek/The Astelia Bintaro-66012727ef363.webp
                    closing_fee: 10000000
                    point: null
                    multiple_point: false
                  - id: 150
                    slug: naputa-residence
                    id_tipe_bangunan: 1
                    status_unit: Jual
                    nama_proyek: Naputa Residence
                    provinsi: BANTEN
                    kota: KOTA TANGERANG SELATAN
                    kecamatan: PAMULANG
                    alamat: Gg. Bakti No.565, Kedaung, Kec. Pamulang, Kota Tangerang Selatan, Banten 15415
                    harga_awal: 1350000000
                    komisi: '3'
                    id_developer: 199
                    is_project: false
                    status_listing: null
                    nama_developer: Zafran Bumi Propertindo
                    nama_tipe_bangunan: Town House
                    url_thumbnail_image: https://stellarhome.id/media/proyek_primary/thumbnail_image/Naputa Residence-65f949d1aad8b.webp
                    harga_termahal: 1388000000
                    jumlah_kamar_tidur_terdikit: 3
                    jumlah_kamar_tidur_terbanyak: 3
                    jumlah_kamar_mandi_terdikit: 2
                    jumlah_kamar_mandi_terbanyak: 2
                    luas_tanah_terkecil: 60
                    luas_tanah_terbesar: 68
                    luas_bangunan_terkecil: 85
                    luas_bangunan_terbesar: 85
                    url_banner_proyek:
                      - https://stellarhome.id/media/proyek_primary/banner_proyek/Naputa Residence-65f949d20a921.webp
                    closing_fee: 2500000
                    point: null
                    multiple_point: false
                  - id: 149
                    slug: terranea-house
                    id_tipe_bangunan: 4
                    status_unit: Jual
                    nama_proyek: Terranea House
                    provinsi: BANTEN
                    kota: KABUPATEN TANGERANG
                    kecamatan: PAGEDANGAN
                    alamat: Jatake, Pagedangan, Tangerang Regency, Banten
                    harga_awal: 571975764
                    komisi: '3'
                    id_developer: 189
                    is_project: false
                    status_listing: Belum Terdaftar
                    nama_developer: Goldlan Group
                    nama_tipe_bangunan: Cluster
                    url_thumbnail_image: https://stellarhome.id/media/proyek_primary/thumbnail_image/Terranea House-65f7f9869654b.webp
                    harga_termahal: 1136693330
                    jumlah_kamar_tidur_terdikit: 2
                    jumlah_kamar_tidur_terbanyak: 2
                    jumlah_kamar_mandi_terdikit: 1
                    jumlah_kamar_mandi_terbanyak: 2
                    luas_tanah_terkecil: 31
                    luas_tanah_terbesar: 74
                    luas_bangunan_terkecil: 50
                    luas_bangunan_terbesar: 72
                    url_banner_proyek:
                      - https://stellarhome.id/media/proyek_primary/banner_proyek/Terranea House-65f7f98936353.webp
                      - https://stellarhome.id/media/proyek_primary/banner_proyek/Terranea House-65f7f98c3f7cc.webp
                      - https://stellarhome.id/media/proyek_primary/banner_proyek/Terranea House-65f7f98ede674.webp
                      - https://stellarhome.id/media/proyek_primary/banner_proyek/Terranea House-65f7f9910727f.webp
                    closing_fee: 3500000
                    point: null
                    multiple_point: false
                  - id: 148
                    slug: hunni-veteran
                    id_tipe_bangunan: 1
                    status_unit: Jual
                    nama_proyek: Hunni Veteran
                    provinsi: DKI JAKARTA
                    kota: KOTA JAKARTA SELATAN
                    kecamatan: PESANGGRAHAN
                    alamat: Jl. Teratai No.2, RT.12/RW.3, Bintaro, Kec. Pesanggrahan, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12330
                    harga_awal: 2888000000
                    komisi: '2.5'
                    id_developer: 150
                    is_project: false
                    status_listing: Belum Terdaftar
                    nama_developer: Ruma.id
                    nama_tipe_bangunan: Town House
                    url_thumbnail_image: https://stellarhome.id/media/proyek_primary/thumbnail_image/Hunni Veteran-65f2c37e688d4.webp
                    harga_termahal: 3780000000
                    jumlah_kamar_tidur_terdikit: 4
                    jumlah_kamar_tidur_terbanyak: 4
                    jumlah_kamar_mandi_terdikit: 5
                    jumlah_kamar_mandi_terbanyak: 5
                    luas_tanah_terkecil: 80
                    luas_tanah_terbesar: 103
                    luas_bangunan_terkecil: 155
                    luas_bangunan_terbesar: 200
                    url_banner_proyek:
                      - https://stellarhome.id/media/proyek_primary/banner_proyek/Hunni Veteran-65f2c37f74b9e.webp
                      - https://stellarhome.id/media/proyek_primary/banner_proyek/Hunni Veteran-65f2c3806bd20.webp
                    closing_fee: 0
                    point: null
                    multiple_point: false
                  - id: 147
                    slug: puri-harvest-west-jakarta
                    id_tipe_bangunan: 1
                    status_unit: Jual
                    nama_proyek: Puri Harvest West Jakarta
                    provinsi: DKI JAKARTA
                    kota: KOTA JAKARTA BARAT
                    kecamatan: CENGKARENG
                    alamat: Jl. Pulo-Indah 6 No.41, RT.7/RW.10, Duri Kosambi, Kecamatan Cengkareng, Kota Jakarta Barat, Daerah Khusus Ibukota Jakarta 11750
                    harga_awal: 1449550000
                    komisi: '2.5'
                    id_developer: 198
                    is_project: false
                    status_listing: null
                    nama_developer: PT. Kreasi Cipta Properti
                    nama_tipe_bangunan: Town House
                    url_thumbnail_image: https://stellarhome.id/media/proyek_primary/thumbnail_image/Puri Harvest West Jakarta-65e1a439b5240.webp
                    harga_termahal: 1998500000
                    jumlah_kamar_tidur_terdikit: 3
                    jumlah_kamar_tidur_terbanyak: 3
                    jumlah_kamar_mandi_terdikit: 3
                    jumlah_kamar_mandi_terbanyak: 3
                    luas_tanah_terkecil: 66
                    luas_tanah_terbesar: 91
                    luas_bangunan_terkecil: 90
                    luas_bangunan_terbesar: 90
                    url_banner_proyek:
                      - https://stellarhome.id/media/proyek_primary/banner_proyek/Puri Harvest West Jakarta-65e1a43a262dd.webp
                      - https://stellarhome.id/media/proyek_primary/banner_proyek/Puri Harvest West Jakarta-65e1a43a896a4.webp
                    closing_fee: 0
                    point: null
                    multiple_point: false
                  - id: 146
                    slug: puri-harvest-south-jakarta
                    id_tipe_bangunan: 1
                    status_unit: Jual
                    nama_proyek: Puri Harvest South Jakarta
                    provinsi: DKI JAKARTA
                    kota: KOTA JAKARTA SELATAN
                    kecamatan: JAGAKARSA
                    alamat: Jl. Batu Belah I No.94, RT.7/RW.4, Cipedak, Kec. Jagakarsa, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12630
                    harga_awal: 1487845000
                    komisi: '2.5'
                    id_developer: 198
                    is_project: false
                    status_listing: null
                    nama_developer: PT. Kreasi Cipta Properti
                    nama_tipe_bangunan: Town House
                    url_thumbnail_image: https://stellarhome.id/media/proyek_primary/thumbnail_image/Puri Harvest South Jakarta-65e03cbb06469.webp
                    harga_termahal: 2366580000
                    jumlah_kamar_tidur_terdikit: 3
                    jumlah_kamar_tidur_terbanyak: 3
                    jumlah_kamar_mandi_terdikit: 2
                    jumlah_kamar_mandi_terbanyak: 2
                    luas_tanah_terkecil: 65
                    luas_tanah_terbesar: 110
                    luas_bangunan_terkecil: 65
                    luas_bangunan_terbesar: 120
                    url_banner_proyek:
                      - https://stellarhome.id/media/proyek_primary/banner_proyek/Puri Harvest South Jakarta-65e03cbb64c4f.webp
                      - https://stellarhome.id/media/proyek_primary/banner_proyek/Puri Harvest South Jakarta-65e699f284667.webp
                      - https://stellarhome.id/media/proyek_primary/banner_proyek/Puri Harvest South Jakarta-65e699f2eadba.webp
                    closing_fee: 0
                    point: null
                    multiple_point: false
                  - id: 145
                    slug: anwa-residence-puri
                    id_tipe_bangunan: 4
                    status_unit: Jual
                    nama_proyek: Anwa Residence Puri
                    provinsi: DKI JAKARTA
                    kota: KOTA JAKARTA BARAT
                    kecamatan: KEMBANGAN
                    alamat: Jl. Taman Palem Raya No.5, RT.2/RW.10, Meruya Sel., Kec. Kembangan, Kota Jakarta Barat, Daerah Khusus Ibukota Jakarta 11650
                    harga_awal: 1604777000
                    komisi: '3'
                    id_developer: 197
                    is_project: false
                    status_listing: null
                    nama_developer: PT. Kartunindo Perkasa Abadi
                    nama_tipe_bangunan: Cluster
                    url_thumbnail_image: https://stellarhome.id/media/proyek_primary/thumbnail_image/Anwa Residence Puri-65df09c30cf22.webp
                    harga_termahal: 2281404255
                    jumlah_kamar_tidur_terdikit: 3
                    jumlah_kamar_tidur_terbanyak: 3
                    jumlah_kamar_mandi_terdikit: 2
                    jumlah_kamar_mandi_terbanyak: 2
                    luas_tanah_terkecil: 45
                    luas_tanah_terbesar: 67
                    luas_bangunan_terkecil: 76
                    luas_bangunan_terbesar: 103
                    url_banner_proyek: []
                    closing_fee: 20000000
                    point: null
                    multiple_point: false
                  - id: 144
                    slug: solite-permata-buana-residence
                    id_tipe_bangunan: 1
                    status_unit: Jual
                    nama_proyek: Solite Permata Buana Residence
                    provinsi: DKI JAKARTA
                    kota: KOTA JAKARTA BARAT
                    kecamatan: KEMBANGAN
                    alamat: Jl. Pulau Nirwana Gg. Senggol, Kembangan Utara, Kec. Kembangan, Jakarta, Daerah Khusus Ibukota Jakarta 11610
                    harga_awal: 2969843092
                    komisi: '2.5'
                    id_developer: 196
                    is_project: false
                    status_listing: null
                    nama_developer: PT. Straya Permata Solite
                    nama_tipe_bangunan: Town House
                    url_thumbnail_image: https://stellarhome.id/media/proyek_primary/thumbnail_image/Solite Permata Buana Residence-65dee9d87daad.webp
                    harga_termahal: 4599000000
                    jumlah_kamar_tidur_terdikit: 4
                    jumlah_kamar_tidur_terbanyak: 4
                    jumlah_kamar_mandi_terdikit: 3
                    jumlah_kamar_mandi_terbanyak: 4
                    luas_tanah_terkecil: 60
                    luas_tanah_terbesar: 90
                    luas_bangunan_terkecil: 130
                    luas_bangunan_terbesar: 200
                    url_banner_proyek:
                      - https://stellarhome.id/media/proyek_primary/banner_proyek/Solite Permata Buana Residence-65e6986b036bf.webp
                      - https://stellarhome.id/media/proyek_primary/banner_proyek/Solite Permata Buana Residence-65e6986b892b4.webp
                      - https://stellarhome.id/media/proyek_primary/banner_proyek/Solite Permata Buana Residence-65e6986bbb54d.webp
                    closing_fee: 25000000
                    point: null
                    multiple_point: false
                  - id: 143
                    slug: casa-nesta
                    id_tipe_bangunan: 1
                    status_unit: Jual
                    nama_proyek: Casa Nesta
                    provinsi: DKI JAKARTA
                    kota: KOTA JAKARTA BARAT
                    kecamatan: KEMBANGAN
                    alamat: Jl. Minagapura, Meruya Sel., Kec. Kembangan, Kota Jakarta Barat, Daerah Khusus Ibukota Jakarta 11640
                    harga_awal: 2965000000
                    komisi: '2.5'
                    id_developer: 195
                    is_project: false
                    status_listing: null
                    nama_developer: Maven Indonesia
                    nama_tipe_bangunan: Town House
                    url_thumbnail_image: https://stellarhome.id/media/proyek_primary/thumbnail_image/Casa Nesta-65ded64e7d52b.webp
                    harga_termahal: 3380000000
                    jumlah_kamar_tidur_terdikit: 3
                    jumlah_kamar_tidur_terbanyak: 3
                    jumlah_kamar_mandi_terdikit: 3
                    jumlah_kamar_mandi_terbanyak: 3
                    luas_tanah_terkecil: 92
                    luas_tanah_terbesar: 95
                    luas_bangunan_terkecil: 161
                    luas_bangunan_terbesar: 161
                    url_banner_proyek:
                      - https://stellarhome.id/media/proyek_primary/banner_proyek/Casa Nesta-65ded64eedf1f.webp
                    closing_fee: 0
                    point: null
                    multiple_point: false
                  - id: 142
                    slug: north-kemang-huis
                    id_tipe_bangunan: 1
                    status_unit: Jual
                    nama_proyek: North Kemang Huis
                    provinsi: DKI JAKARTA
                    kota: KOTA JAKARTA SELATAN
                    kecamatan: MAMPANG PRAPATAN
                    alamat: Jl. Kemang Utara No.32, RT.1/RW.5, Bangka, Kec. Mampang Prpt., Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12730
                    harga_awal: 5350000000
                    komisi: '2'
                    id_developer: 194
                    is_project: false
                    status_listing: null
                    nama_developer: Huis Property
                    nama_tipe_bangunan: Town House
                    url_thumbnail_image: https://stellarhome.id/media/proyek_primary/thumbnail_image/North Kemang Huis-65e9732cc3196.webp
                    harga_termahal: 6500000000
                    jumlah_kamar_tidur_terdikit: 3
                    jumlah_kamar_tidur_terbanyak: 3
                    jumlah_kamar_mandi_terdikit: 3
                    jumlah_kamar_mandi_terbanyak: 3
                    luas_tanah_terkecil: 91
                    luas_tanah_terbesar: 107
                    luas_bangunan_terkecil: 262
                    luas_bangunan_terbesar: 313
                    url_banner_proyek:
                      - https://stellarhome.id/media/proyek_primary/banner_proyek/North Kemang Huis-65dc56f4c36cf.webp
                      - https://stellarhome.id/media/proyek_primary/banner_proyek/North Kemang Huis-65e9732e6f891.webp
                    closing_fee: 0
                    point: null
                    multiple_point: false
                  - id: 141
                    slug: gatot-soebroto-mansion
                    id_tipe_bangunan: 1
                    status_unit: Jual
                    nama_proyek: Gatot Soebroto Mansion
                    provinsi: DKI JAKARTA
                    kota: KOTA JAKARTA SELATAN
                    kecamatan: MAMPANG PRAPATAN
                    alamat: Jl. Mampang Prapatan IV No.22, Tegal Parang, Kec. Mampang Prpt., Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12790
                    harga_awal: 3325000000
                    komisi: '3'
                    id_developer: 193
                    is_project: false
                    status_listing: null
                    nama_developer: Merraland Development
                    nama_tipe_bangunan: Town House
                    url_thumbnail_image: https://stellarhome.id/media/proyek_primary/thumbnail_image/Gatot Soebroto Mansion-65e6cc26449dd.webp
                    harga_termahal: 4554000000
                    jumlah_kamar_tidur_terdikit: 3
                    jumlah_kamar_tidur_terbanyak: 3
                    jumlah_kamar_mandi_terdikit: 4
                    jumlah_kamar_mandi_terbanyak: 4
                    luas_tanah_terkecil: 55
                    luas_tanah_terbesar: 68
                    luas_bangunan_terkecil: 125
                    luas_bangunan_terbesar: 200
                    url_banner_proyek:
                      - https://stellarhome.id/media/proyek_primary/banner_proyek/Gatot Soebroto Mansion-65e6cc2693d22.webp
                      - https://stellarhome.id/media/proyek_primary/banner_proyek/Gatot Soebroto Mansion-65e6cc26f32f8.webp
                    closing_fee: 0
                    point: null
                    multiple_point: false
                  - id: 140
                    slug: permata-hijau-mansion
                    id_tipe_bangunan: 4
                    status_unit: Jual
                    nama_proyek: Permata Hijau Mansion
                    provinsi: DKI JAKARTA
                    kota: KOTA JAKARTA SELATAN
                    kecamatan: KEBAYORAN LAMA
                    alamat: Jl. Limo No.10 7, RT.7/RW.10, Grogol Sel., Kec. Kby. Lama, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12220
                    harga_awal: 3675000000
                    komisi: '3'
                    id_developer: 193
                    is_project: false
                    status_listing: null
                    nama_developer: Merraland Development
                    nama_tipe_bangunan: Cluster
                    url_thumbnail_image: https://stellarhome.id/media/proyek_primary/thumbnail_image/Permata Hijau Mansion-65d860e035a65.webp
                    harga_termahal: 4200000000
                    jumlah_kamar_tidur_terdikit: 3
                    jumlah_kamar_tidur_terbanyak: 3
                    jumlah_kamar_mandi_terdikit: 4
                    jumlah_kamar_mandi_terbanyak: 4
                    luas_tanah_terkecil: 50
                    luas_tanah_terbesar: 60
                    luas_bangunan_terkecil: 147
                    luas_bangunan_terbesar: 175
                    url_banner_proyek: []
                    closing_fee: 0
                    point: null
                    multiple_point: false
                  - id: 139
                    slug: aeera-bintaro
                    id_tipe_bangunan: 1
                    status_unit: Jual
                    nama_proyek: Aeera Bintaro
                    provinsi: BANTEN
                    kota: KOTA TANGERANG SELATAN
                    kecamatan: CIPUTAT
                    alamat: Gg. Sawo, RT.03/RW.01, Sawah Lama, Kec. Ciputat, Kota Tangerang Selatan, Banten 15413
                    harga_awal: 1452822210
                    komisi: '3'
                    id_developer: 192
                    is_project: false
                    status_listing: Belum Terdaftar
                    nama_developer: Srimaya Land
                    nama_tipe_bangunan: Town House
                    url_thumbnail_image: https://stellarhome.id/media/proyek_primary/thumbnail_image/Aeera Bintaro-65d8434bb0de9.webp
                    harga_termahal: 1960262010
                    jumlah_kamar_tidur_terdikit: 3
                    jumlah_kamar_tidur_terbanyak: 3
                    jumlah_kamar_mandi_terdikit: 2
                    jumlah_kamar_mandi_terbanyak: 2
                    luas_tanah_terkecil: 76
                    luas_tanah_terbesar: 90
                    luas_bangunan_terkecil: 85
                    luas_bangunan_terbesar: 106
                    url_banner_proyek: []
                    closing_fee: 0
                    point: null
                    multiple_point: false
                  - id: 138
                    slug: citaville-cibubur
                    id_tipe_bangunan: 4
                    status_unit: Jual
                    nama_proyek: Citaville Cibubur
                    provinsi: JAWA BARAT
                    kota: KABUPATEN BOGOR
                    kecamatan: CILEUNGSI
                    alamat: Pasir Angin, Cileungsi, Bogor Regency, West Java 16820
                    harga_awal: 950300000
                    komisi: '3'
                    id_developer: 11
                    is_project: false
                    status_listing: Belum Terdaftar
                    nama_developer: Greenwoods Group
                    nama_tipe_bangunan: Cluster
                    url_thumbnail_image: https://stellarhome.id/media/proyek_primary/thumbnail_image/Citaville Cibubur-65d84ae71e99e.webp
                    harga_termahal: 1006900000
                    jumlah_kamar_tidur_terdikit: 2
                    jumlah_kamar_tidur_terbanyak: 3
                    jumlah_kamar_mandi_terdikit: 2
                    jumlah_kamar_mandi_terbanyak: 2
                    luas_tanah_terkecil: 60
                    luas_tanah_terbesar: 74
                    luas_bangunan_terkecil: 63
                    luas_bangunan_terbesar: 63
                    url_banner_proyek: []
                    closing_fee: 2000000
                    point: null
                    multiple_point: false
                first_page_url: https://stellarhome.id/api/v1/mobile/proyek_primary?page=1
                from: 1
                last_page: 4
                last_page_url: https://stellarhome.id/api/v1/mobile/proyek_primary?page=4
                links:
                  - url: null
                    label: '&laquo; Previous'
                    active: false
                  - url: https://stellarhome.id/api/v1/mobile/proyek_primary?page=1
                    label: '1'
                    active: true
                  - url: https://stellarhome.id/api/v1/mobile/proyek_primary?page=2
                    label: '2'
                    active: false
                  - url: https://stellarhome.id/api/v1/mobile/proyek_primary?page=3
                    label: '3'
                    active: false
                  - url: https://stellarhome.id/api/v1/mobile/proyek_primary?page=4
                    label: '4'
                    active: false
                  - url: https://stellarhome.id/api/v1/mobile/proyek_primary?page=2
                    label: Next &raquo;
                    active: false
                next_page_url: https://stellarhome.id/api/v1/mobile/proyek_primary?page=2
                path: https://stellarhome.id/api/v1/mobile/proyek_primary
                per_page: 15
                prev_page_url: null
                to: 15
                total: 56
          headers:
            Date:
              type: string
              default: Wed, 03 Apr 2024 04:06:39 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Vary:
              type: string
              default: Authorization
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v4?s=lVsu0sS5JxBaQKTOIJeda40fvJxaAL51XaayRn4Hsj0%2Bx441jsjddLxVy2LVP3TOAJdEFskh4mhqvjuKlb%2BrBSN8vlUjkO8AitS8k6yohtWkbNFh0lFecibEJjJ8R5aHQQ%3D%3D"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 86e62fed786c849d-HKG
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
  /proyek_primary/detail/151:
    get:
      description: http://epichome.id/admin/api/v1/mobile/proyek_primary/detail/{id}
      summary: Proyek Primary Detail
      tags:
        - Proyek Primary
      operationId: ProyekPrimaryDetail
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: false
          default: Bearer {token}
          type: string
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DataRetrieved2'
          examples:
            application/json:
              success: true
              error: null
              message: Data retrieved.
              data:
                id: 151
                slug: the-astelia-bintaro
                id_tipe_proyek: 1
                created_by: Fairus Hanifah Safitri
                id_tipe_bangunan: 1
                status_unit: Jual
                nama_proyek: The Astelia Bintaro
                provinsi: BANTEN
                kota: KOTA TANGERANG SELATAN
                kecamatan: PONDOK AREN
                kabupaten: null
                alamat: Jl. Jurang Mangu Bar. No.199/02, RT.05/RW.02, Jurang Mangu Barat, Kec. Pd. Aren, Kota Tangerang Selatan, Banten 15229
                longitude: '106.72252298251134'
                latitude: '-6.263369803536715'
                google_map_gallery: null
                harga_awal: 1980000000
                nup: 0
                utj: 0
                komisi: '3'
                komisi_inhouse: 0
                jenis_pembayaran:
                  - KPR/KPA
                  - Hardcash
                pencairan_kpr: DP dan Akad
                tahun_mulai: ''
                tahun_selesai: ''
                estimasi_selesai: '2024'
                lingkungan_sekitar: AMAN, NYAMAN, DAMAI, DAN ASRI
                jumlah_tower: null
                sertifikat:
                  - SHM - Hak Milik
                tipe_air:
                  - Air Tanah
                fasilitas:
                  - CCTV
                  - 24 Hour Security
                  - Access Gate
                bank:
                  - 81
                profile_proyek: <p><strong>The Astelia is a life.</strong></p><p>Astelia is a plant that grows in areas where water is scare. Astelia symbolizes hope for life in the midst of a difficult situation.</p><p><br></p><p>Astelia was conceptualized from a deep consideration of the interplay between the concrete and the human, how the physical spaces within which we reside influences the emotional and relational space we experience.</p>
                id_developer: 200
                nama_pic: Ken
                nomor_handphone: '+6274865938'
                nomor_handphone_admin: '+6289651519090'
                copywriting: For Sale - Brand New The Astelia Bintaro - 3 Lantai + Rooftop
                broadcast_message: '<p><span style="color: rgb(0, 0, 0);">NEW Brand The Astelia - Hunian 3 Lantai + Rooftop</span></p><p><span style="color: rgb(0, 0, 0);">———————————</span></p><p><span style="color: rgb(0, 0, 0);">- 15 Menit Ke Bintaro Jaya Xchange</span></p><p><span style="color: rgb(0, 0, 0);">- 10 Menit ke Gerbang Tol Pondok Aren</span></p><p><span style="color: rgb(0, 0, 0);">- 10 Menit ke Stasiun Jurangmangu</span></p><p><span style="color: rgb(0, 0, 0);">———————————</span></p><p><br></p><p><span style="color: rgb(0, 0, 0);">LT: 60  m² | LB: 130  m²</span></p><p><span style="color: rgb(0, 0, 0);">KT: 4 | KM: 3</span></p><p><span style="color: rgb(0, 0, 0);">Carport: 1</span></p><p><span style="color: rgb(0, 0, 0);">Lantai: 3 + Rooftop</span></p><p><br></p><p><span style="color: rgb(0, 0, 0);">Harga Mulai : 1.3 M</span></p><p><span style="color: rgb(0, 0, 0);">———————————</span></p><p><span style="color: rgb(0, 0, 0);">✅ DP 0%</span></p><p><span style="color: rgb(0, 0, 0);">✅ Free Biaya BPHTB, AJB, SHM</span></p><p><span style="color: rgb(0, 0, 0);">✅ Free Smarthome</span></p><p><span style="color: rgb(0, 0, 0);">✅ Free AC </span></p><p><span style="color: rgb(0, 0, 0);">✅ Free Waterheater</span></p><p><span style="color: rgb(0, 0, 0);">———————————</span></p><p><br></p><p><span style="color: rgb(0, 0, 0);">Informasi lebih lanjut hubungi:</span></p><p><span style="color: rgb(0, 0, 0);">Hani (Admin) +628111925056</span></p>'
                question_answer: <p>Dimanakan alamat lengkap The Astelia?&nbsp;</p><ul><li>The Astelia berada di Jl. Jurang Mangu Bar. No.199/02, RT.05/RW.02, Jurang Mangu Barat, Kec. Pd. Aren, Kota Tangerang Selatan, Banten 15229.</li></ul><p><br></p><p>Apa saja Fasilitas sekitar The Astelia?</p><ul><li>Beberapa fasilitas umum yang dapat ditemukan di sekitar&nbsp;The Astelia&nbsp;adalah Bintaro Jaya Xchange Mall, Stasiun Jurangmangu, dan Gerbang Tol.</li></ul><p><br></p><p>Apa saja Fasilitas yang ada di dalam The Astelia?</p><ul><li>Fasilitas yang ada di dalam&nbsp;The Astelia&nbsp;adalah One Gate System dan Security 24 Hours.</li></ul><p><br></p><p>Dimana bisa lihat E-Brochure dan Site Plan The Astelia?</p><ul><li>Untuk melihat E-Brochure dan Site Plan dapat menghubungi kontak yang tertera pada deskripsi atau profile Project.</li></ul><p><br></p><p>Bagaimana cara menghubungi jika saya tertarik membeli unit The Astelia?</p><ul><li>Silakan dapat menghubungi kontak yang tertera pada deskripsi atau profile Project.</li></ul>
                banner_proyek:
                  - The Astelia Bintaro-660127273911d.webp
                  - The Astelia Bintaro-66012727ef363.webp
                progress_update: '["The Astelia Bintaro-66012722dc1e5.webp","The Astelia Bintaro-66012723b598f.webp","The Astelia Bintaro-660127247cdec.webp","The Astelia Bintaro-660127253c41b.webp","The Astelia Bintaro-6601272604b95.webp"]'
                product_knowledge: The Astelia Bintaro-66012726ba3fc.pdf
                logo_proyek: The Astelia Bintaro-66012726bca32.png
                banner_promo: '["The Astelia Bintaro-66012726bd448.webp"]'
                thumbnail_image: The Astelia Bintaro-66012727020f7.webp
                perhitungan_harga_image: null
                siteplan_image: null
                layout_image: null
                dokumen_mou: The Astelia Bintaro-66012722b834d.pdf
                faq: '[{"pertanyaan":"","jawaban":""}]'
                marketing_tools: null
                pic_coordinator_id: null
                coordinator_agent_id: null
                lead_agent_id: []
                sub_agent_id:
                  - 1
                  - 2
                komisi_pic_coordinator: 0
                komisi_coordinator_agent: 0
                komisi_lead_agent: 0
                komisi_sub_agent: 100
                komisi_developer: 0
                is_recommended: false
                is_project: false
                is_project_inhouse: false
                publish: 1
                created_at: '2024-03-25T07:26:26.000000Z'
                updated_at: '2024-03-25T07:26:31.000000Z'
                url_banner_proyek:
                  - https://stellarhome.id/media/proyek_primary/banner_proyek/The Astelia Bintaro-660127273911d.webp
                  - https://stellarhome.id/media/proyek_primary/banner_proyek/The Astelia Bintaro-66012727ef363.webp
                proyek_banner:
                  - tipe_banner: Video
                    file_banner: null
                    link_youtube: https://www.youtube.com/embed/8jt6PAE0irI?si=rpWciiOhOUx8b42C
                    url_file_banner: null
                    youtube_id: 8jt6PAE0irI
                  - tipe_banner: Foto
                    file_banner: The Astelia Bintaro-660127273911d.webp
                    link_youtube: null
                    url_file_banner: https://stellarhome.id/media/proyek_primary/banner_proyek/The Astelia Bintaro-660127273911d.webp
                    youtube_id: null
                  - tipe_banner: Foto
                    file_banner: The Astelia Bintaro-66012727ef363.webp
                    link_youtube: null
                    url_file_banner: https://stellarhome.id/media/proyek_primary/banner_proyek/The Astelia Bintaro-66012727ef363.webp
                    youtube_id: null
                url_product_knowledge: https://stellarhome.id/media/proyek_primary/product_knowledge/The Astelia Bintaro-66012726ba3fc.pdf
                url_thumbnail_image: https://stellarhome.id/media/proyek_primary/thumbnail_image/The Astelia Bintaro-66012727020f7.webp
                url_google_map_gallery: []
                url_progress_update:
                  - https://stellarhome.id/media/proyek_primary/progress_update/The Astelia Bintaro-66012722dc1e5.webp
                  - https://stellarhome.id/media/proyek_primary/progress_update/The Astelia Bintaro-66012723b598f.webp
                  - https://stellarhome.id/media/proyek_primary/progress_update/The Astelia Bintaro-660127247cdec.webp
                  - https://stellarhome.id/media/proyek_primary/progress_update/The Astelia Bintaro-660127253c41b.webp
                  - https://stellarhome.id/media/proyek_primary/progress_update/The Astelia Bintaro-6601272604b95.webp
                jumlah_unit: 3
                jumlah_unit_available: 3
                harga_termahal: 2280000000
                jumlah_kamar_tidur_terdikit: 4
                jumlah_kamar_tidur_terbanyak: 4
                jumlah_kamar_mandi_terdikit: 3
                jumlah_kamar_mandi_terbanyak: 3
                luas_tanah_terkecil: 60
                luas_tanah_terbesar: 65
                luas_bangunan_terkecil: 130
                luas_bangunan_terbesar: 130
                closing_fee: 10000000
                point: null
                multiple_point: false
                status_listing: Belum Terdaftar
                count_event_join: 0
                tipe_units:
                  - id: 197
                    slug: standart-2
                    id_proyek_primary: 151
                    nama_tipe_unit: Standart
                    deskripsi: null
                    tipe_unit_image: https://stellarhome.id/media/tipe_unit/standart-660128b12f44d.webp
                    tipe_unit_gallery: '["Standart-660128b164fda.webp","Standart-660128b227ddb.webp","Standart-660128b2f1593.webp","Standart-660128b3b6861.webp","Standart-660128b49bbf5.webp"]'
                    spesifikasi: null
                    spesifikasi_teknis: null
                    luas_tanah: 0
                    luas_bangunan: 0
                    closing_fee_pic_coordinator: 0
                    closing_fee_coordinator_agent: 0
                    closing_fee_lead_agent: 0
                    closing_fee_sub_agent: 0
                    closing_fee_sales: 10000000
                    reward: '0'
                    created_at: '2024-03-25T07:33:05.000000Z'
                    updated_at: '2024-03-25T07:33:09.000000Z'
                    harga_termurah: 1980000000
                    harga_termahal: 2280000000
                    jumlah_kamar_tidur_terdikit: 4
                    jumlah_kamar_tidur_terbanyak: 4
                    jumlah_kamar_mandi_terdikit: 3
                    jumlah_kamar_mandi_terbanyak: 3
                    luas_tanah_terkecil: 60
                    luas_tanah_terbesar: 65
                    luas_bangunan_terkecil: 130
                    luas_bangunan_terbesar: 130
                    unit:
                      - id: 329
                        slug: null
                        id_proyek_primari: 151
                        id_cluster: 91
                        id_tipe_unit: 197
                        harga_unit: 1980000000
                        harga_sewa_per_bulan: 0
                        harga_sewa_per_tahun: 0
                        harga_per_meter: 0
                        blok: A
                        nomor_unit: '2'
                        luas_tanah_db: 60
                        luas_bangunan_db: 130
                        arah_bangunan: Barat
                        jumlah_kamar_tidur: 4
                        jumlah_kamar_mandi: 3
                        jumlah_lantai: 3
                        jumlah_garasi_mobil: 1
                        listrik: 2200
                        komisi: 0
                        komisi_sewa: null
                        is_available: 1
                        date_available: null
                        lebar_jalan_depan: 6
                        lingkungan_sekitar: AMAN, NYAMAN, DAMAI, DAN ASRI
                        gambar_unit:
                          - unit-329-660129e27eb79.webp
                          - unit-329-660129e343cfb.webp
                          - unit-329-660129e416216.webp
                          - unit-329-660129e4cedf1.webp
                          - unit-329-660129e58ee23.webp
                        created_at: '2024-03-25T07:38:10.000000Z'
                        updated_at: '2024-03-25T07:38:14.000000Z'
                        id_tipe_bangunan: null
                        id_kantor_agent: null
                        id_sales: null
                        nomor_handphone_sales: null
                        status_unit: null
                        nama_unit: null
                        alamat: null
                        kota: null
                        kecamatan: null
                        kondisi_bangunan: null
                        sertifikat: null
                        atas_nama: null
                        kelengkapan_surat: null
                        line_telepon: null
                        air: null
                        jumlah_garasi: null
                        furniture_termasuk: Unfurnished
                        deskripsi_unit: null
                        jenis_pembayaran: null
                        nama_penjual: null
                        no_telepon_penjual: null
                        nama_pemilik: null
                        alamat_lengkap_pemilik: null
                        no_telepon_pemilik: null
                        no_npwp_pemilik: null
                        bersedia_dipasang: null
                        jangka_waktu_pemasangan: null
                        open_house: null
                        thumbnail_unit: null
                        gallery_unit: []
                        dokumen_fpl: null
                        longitude: null
                        latitude: null
                        approved_status: null
                        approved_date: null
                        start_date_iklan: null
                        end_date_iklan: null
                        provinsi: null
                        status_bangunan: null
                        closing_fee: 0
                        reward: '0'
                        publish: 0
                        created_by: Fairus Hanifah Safitri
                        luas_tanah: 60
                        luas_bangunan: 130
                      - id: 330
                        slug: null
                        id_proyek_primari: 151
                        id_cluster: 91
                        id_tipe_unit: 197
                        harga_unit: 2280000000
                        harga_sewa_per_bulan: 0
                        harga_sewa_per_tahun: 0
                        harga_per_meter: 0
                        blok: C
                        nomor_unit: '5'
                        luas_tanah_db: 60
                        luas_bangunan_db: 130
                        arah_bangunan: Timur
                        jumlah_kamar_tidur: 4
                        jumlah_kamar_mandi: 3
                        jumlah_lantai: 3
                        jumlah_garasi_mobil: 1
                        listrik: 2200
                        komisi: 0
                        komisi_sewa: null
                        is_available: 1
                        date_available: null
                        lebar_jalan_depan: 6
                        lingkungan_sekitar: AMAN, NYAMAN, DAMAI, DAN ASRI
                        gambar_unit:
                          - unit-330-66012a2269958.webp
                          - unit-330-66012a232dd07.webp
                          - unit-330-66012a24036d7.webp
                          - unit-330-66012a24bd6e6.webp
                          - unit-330-66012a257e2e0.webp
                        created_at: '2024-03-25T07:39:14.000000Z'
                        updated_at: '2024-03-25T07:39:18.000000Z'
                        id_tipe_bangunan: null
                        id_kantor_agent: null
                        id_sales: null
                        nomor_handphone_sales: null
                        status_unit: null
                        nama_unit: null
                        alamat: null
                        kota: null
                        kecamatan: null
                        kondisi_bangunan: null
                        sertifikat: null
                        atas_nama: null
                        kelengkapan_surat: null
                        line_telepon: null
                        air: null
                        jumlah_garasi: null
                        furniture_termasuk: Unfurnished
                        deskripsi_unit: null
                        jenis_pembayaran: null
                        nama_penjual: null
                        no_telepon_penjual: null
                        nama_pemilik: null
                        alamat_lengkap_pemilik: null
                        no_telepon_pemilik: null
                        no_npwp_pemilik: null
                        bersedia_dipasang: null
                        jangka_waktu_pemasangan: null
                        open_house: null
                        thumbnail_unit: null
                        gallery_unit: []
                        dokumen_fpl: null
                        longitude: null
                        latitude: null
                        approved_status: null
                        approved_date: null
                        start_date_iklan: null
                        end_date_iklan: null
                        provinsi: null
                        status_bangunan: null
                        closing_fee: 0
                        reward: '0'
                        publish: 0
                        created_by: Fairus Hanifah Safitri
                        luas_tanah: 60
                        luas_bangunan: 130
                      - id: 331
                        slug: null
                        id_proyek_primari: 151
                        id_cluster: 91
                        id_tipe_unit: 197
                        harga_unit: 2080000000
                        harga_sewa_per_bulan: 0
                        harga_sewa_per_tahun: 0
                        harga_per_meter: 0
                        blok: B
                        nomor_unit: '7'
                        luas_tanah_db: 65
                        luas_bangunan_db: 130
                        arah_bangunan: Barat
                        jumlah_kamar_tidur: 4
                        jumlah_kamar_mandi: 3
                        jumlah_lantai: 3
                        jumlah_garasi_mobil: 1
                        listrik: 2200
                        komisi: 0
                        komisi_sewa: null
                        is_available: 1
                        date_available: null
                        lebar_jalan_depan: 6
                        lingkungan_sekitar: AMAN, NYAMAN, DAMAI, DAN ASRI
                        gambar_unit:
                          - unit-331-66012a77ed7e5.webp
                          - unit-331-66012a78b2feb.webp
                          - unit-331-66012a7985522.webp
                          - unit-331-66012a7a4acf3.webp
                          - unit-331-66012a7b0a8c6.webp
                        created_at: '2024-03-25T07:40:39.000000Z'
                        updated_at: '2024-03-25T07:40:43.000000Z'
                        id_tipe_bangunan: null
                        id_kantor_agent: null
                        id_sales: null
                        nomor_handphone_sales: null
                        status_unit: null
                        nama_unit: null
                        alamat: null
                        kota: null
                        kecamatan: null
                        kondisi_bangunan: null
                        sertifikat: null
                        atas_nama: null
                        kelengkapan_surat: null
                        line_telepon: null
                        air: null
                        jumlah_garasi: null
                        furniture_termasuk: Unfurnished
                        deskripsi_unit: null
                        jenis_pembayaran: null
                        nama_penjual: null
                        no_telepon_penjual: null
                        nama_pemilik: null
                        alamat_lengkap_pemilik: null
                        no_telepon_pemilik: null
                        no_npwp_pemilik: null
                        bersedia_dipasang: null
                        jangka_waktu_pemasangan: null
                        open_house: null
                        thumbnail_unit: null
                        gallery_unit: []
                        dokumen_fpl: null
                        longitude: null
                        latitude: null
                        approved_status: null
                        approved_date: null
                        start_date_iklan: null
                        end_date_iklan: null
                        provinsi: null
                        status_bangunan: null
                        closing_fee: 0
                        reward: '0'
                        publish: 0
                        created_by: Fairus Hanifah Safitri
                        luas_tanah: 65
                        luas_bangunan: 130
                tipe_bangunan:
                  id: 1
                  slug: resident
                  nama_tipe_bangunan: Town House
                  deskripsi: Town House
                  created_at: '2023-07-27T01:31:47.000000Z'
                  updated_at: '2023-08-09T03:42:31.000000Z'
                developer:
                  id: 200
                  slug: tristar-sebana-propertindo
                  nama_developer: Tristar Sebana Propertindo
                  email: contact@tristarsebana.id
                  nomor_telepon: '+6274865938'
                  alamat: Kebayoran Square No D-15, Jl. Kby., Bintaro Jaya, Kec. Pd. Aren, Kota Tangerang Selatan, Banten 15229
                  logo_developer: https://stellarhome.id/media/developer/logo_developer/Tristar Sebana Propertindo-66011c597b008.jpg
                  deskripsi: null
                  id_bank: null
                  nama_akun: null
                  no_akun: null
                  cabang_bank: null
                  created_at: '2024-03-25T06:40:25.000000Z'
                  updated_at: '2024-03-25T06:40:25.000000Z'
                  longitude: '106.7130353960046'
                  latitude: '-6.273192449793463'
                  provinsi: BANTEN
                  kota: KOTA TANGERANG SELATAN
                  kecamatan: PONDOK AREN
                detail_fasilitas:
                  - id: 242
                    id_proyek_primary: 151
                    id_fasilitas_umum: '137'
                    nama_fasilitas_umum: Mall
                    detail_fasilitas_umum: Bintaro Jaya Xchange Mall
                    jarak: '4'
                    waktu: 10
                    created_at: '2024-03-25T07:26:26.000000Z'
                    updated_at: '2024-03-25T07:26:26.000000Z'
                  - id: 243
                    id_proyek_primary: 151
                    id_fasilitas_umum: '91'
                    nama_fasilitas_umum: Stasiun
                    detail_fasilitas_umum: Jurangmangu Station
                    jarak: '4'
                    waktu: 10
                    created_at: '2024-03-25T07:26:26.000000Z'
                    updated_at: '2024-03-25T07:26:26.000000Z'
          headers:
            Date:
              type: string
              default: Wed, 03 Apr 2024 04:10:47 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Vary:
              type: string
              default: Authorization
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v4?s=rmM3cWzN3lWx8dKECKhvkB2gl8WNYa06jAF33WlqB2f2olWiGVwdzPvBs6OK4NEuKDBUGy7BV6Okkc67ip7VLaempknWTnAgjlrE3K8ZIr1tl8lrZWEfZojovCVBuj9lFw%3D%3D"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 86e635fc29bb849d-HKG
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
  /proyek_primary/recommended:
    get:
      summary: Proyek Unggulan
      tags:
        - Proyek Primary
      operationId: ProyekUnggulan
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: false
          default: Bearer {token}
          type: string
        - name: search
          in: query
          required: true
          type: string
          description: ''
        - name: provinsi
          in: query
          required: true
          type: string
          description: ''
        - name: kota
          in: query
          required: true
          type: string
          description: ''
        - name: kecamatan
          in: query
          required: true
          type: string
          description: ''
        - name: kamar_tidur
          in: query
          required: true
          type: string
          description: ''
        - name: kamar_mandi
          in: query
          required: true
          type: string
          description: ''
        - name: tipe_bangunan
          in: query
          required: true
          type: string
          description: ''
        - name: developer
          in: query
          required: true
          type: string
          description: ''
        - name: harga_termurah
          in: query
          required: true
          type: string
          description: ''
        - name: harga_termahal
          in: query
          required: true
          type: string
          description: ''
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DataRetrieved3'
          examples:
            application/json:
              success: true
              error: null
              message: Data retrieved.
              data:
                current_page: 1
                data: []
                first_page_url: https://stellarhome.id/api/v1/mobile/proyek_primary/recommended?page=1
                from: null
                last_page: 1
                last_page_url: https://stellarhome.id/api/v1/mobile/proyek_primary/recommended?page=1
                links:
                  - url: null
                    label: '&laquo; Previous'
                    active: false
                  - url: https://stellarhome.id/api/v1/mobile/proyek_primary/recommended?page=1
                    label: '1'
                    active: true
                  - url: null
                    label: Next &raquo;
                    active: false
                next_page_url: null
                path: https://stellarhome.id/api/v1/mobile/proyek_primary/recommended
                per_page: 15
                prev_page_url: null
                to: null
                total: 0
          headers:
            Date:
              type: string
              default: Wed, 17 Apr 2024 03:37:04 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Vary:
              type: string
              default: Authorization
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v4?s=mjLYpL1eMT52RqPpcqRIhK8c4Px22e9KLjkS2uv0I10OyYydUjz0pS6fujQXvGutUvhl7Tl6R6JzH2xf1J3iRu7qFM1uIp5LtVZbs0UtThqQ5yz3d5BKZSiMqsk6vKg8Pg%3D%3D"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 87595fd44bc71062-HKG
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
  /secondary_unit:
    get:
      summary: Secondary Unit
      tags:
        - Secondary Unit
      operationId: SecondaryUnit
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: false
          default: Bearer {token}
          type: string
        - name: search
          in: query
          required: true
          type: string
          description: ''
        - name: provinsi
          in: query
          required: true
          type: string
          description: ''
        - name: kota
          in: query
          required: true
          type: string
          description: ''
        - name: kecamatan
          in: query
          required: true
          type: string
          description: ''
        - name: kamar_tidur
          in: query
          required: true
          type: string
          description: ''
        - name: kamar_mandi
          in: query
          required: true
          type: string
          description: ''
        - name: tipe_bangunan
          in: query
          required: true
          type: string
          description: ''
        - name: status_bangunan
          in: query
          required: true
          type: string
          description: ''
        - name: status_unit
          in: query
          required: true
          type: string
          description: ''
        - name: harga_termurah
          in: query
          required: true
          type: string
          description: ''
        - name: harga_termahal
          in: query
          required: true
          type: string
          description: ''
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DataRetrieved4'
          examples:
            application/json:
              success: true
              error: null
              message: Data retrieved.
              data:
                current_page: 1
                data:
                  - id: 327
                    slug: dijual-rumah-secondary-nusa-loka-bsd-city
                    harga_unit: 870000000
                    harga_sewa_per_bulan: 0
                    harga_sewa_per_tahun: 0
                    jumlah_kamar_tidur: 2
                    jumlah_kamar_mandi: 1
                    komisi: '3'
                    komisi_sewa: null
                    status_unit: Jual
                    nama_unit: Dijual Rumah Secondary - Nusa Loka BSD City
                    alamat: Nusa Loka, BSD
                    kota: KOTA TANGERANG SELATAN
                    kecamatan: SERPONG
                    sertifikat:
                      - SHM - Hak Milik
                    nama_penjual: Lim Lie Kian
                    nama_pemilik: Lim Lie Kian
                    provinsi: BANTEN
                    status_bangunan: Seken
                    nama_tipe_bangunan: Rumah
                    url_gallery_unit:
                      - https://stellarhome.id/media/secondary_unit/gallery_unit/Dijual Rumah Secondary - Nusa Loka BSD City-65fd4886aa3a1.webp
                      - https://stellarhome.id/media/secondary_unit/gallery_unit/Dijual Rumah Secondary - Nusa Loka BSD City-65fd488746048.webp
                      - https://stellarhome.id/media/secondary_unit/gallery_unit/Dijual Rumah Secondary - Nusa Loka BSD City-65fd4887a8014.webp
                      - https://stellarhome.id/media/secondary_unit/gallery_unit/Dijual Rumah Secondary - Nusa Loka BSD City-65fd488811e3b.webp
                      - https://stellarhome.id/media/secondary_unit/gallery_unit/Dijual Rumah Secondary - Nusa Loka BSD City-65fd4888683ea.webp
                      - https://stellarhome.id/media/secondary_unit/gallery_unit/Dijual Rumah Secondary - Nusa Loka BSD City-65fd4888be35a.webp
                      - https://stellarhome.id/media/secondary_unit/gallery_unit/Dijual Rumah Secondary - Nusa Loka BSD City-65fd48892ae97.webp
                    url_thumbnail_unit: https://stellarhome.id/media/secondary_unit/thumbnail_unit/dijual-rumah-secondary-nusa-loka-bsd-city-65fd4886294bf.webp
                    status_listing: Belum Terdaftar
                    nama_sales: Lim Lie Kian
                    luas_tanah: 72
                    luas_bangunan: 50
                  - id: 326
                    slug: dijual-rumah-secondary-anggrek-loka-bsd-city
                    harga_unit: 2550000000
                    harga_sewa_per_bulan: 0
                    harga_sewa_per_tahun: 0
                    jumlah_kamar_tidur: 4
                    jumlah_kamar_mandi: 3
                    komisi: '3'
                    komisi_sewa: null
                    status_unit: Jual
                    nama_unit: Dijual Rumah Secondary - Anggrek Loka BSD City
                    alamat: Jl. Anggrek Loka Sektor II.3 Blok AZ, Jl. Komp. Bsd No.3, Rw. Buntu, Kec. Serpong, Kota Tangerang Selatan, Banten 15310
                    kota: KOTA TANGERANG SELATAN
                    kecamatan: SERPONG
                    sertifikat:
                      - SHM - Hak Milik
                    nama_penjual: Lim Lie Kian
                    nama_pemilik: Lim Lie Kian
                    provinsi: BANTEN
                    status_bangunan: Seken
                    nama_tipe_bangunan: Rumah
                    url_gallery_unit:
                      - https://stellarhome.id/media/secondary_unit/gallery_unit/Dijual Rumah Secondary - Anggrek Loka BSD City-65fd42bcc7b69.webp
                      - https://stellarhome.id/media/secondary_unit/gallery_unit/Dijual Rumah Secondary - Anggrek Loka BSD City-65fd42bce57fe.webp
                    url_thumbnail_unit: https://stellarhome.id/media/secondary_unit/thumbnail_unit/dijual-rumah-secondary-anggrek-loka-bsd-city-65fd42bca78b8.webp
                    status_listing: Belum Terdaftar
                    nama_sales: Lim Lie Kian
                    luas_tanah: 180
                    luas_bangunan: 120
                  - id: 325
                    slug: for-sale-rumah-modern-nusa-loka-bsd
                    harga_unit: 2500000000
                    harga_sewa_per_bulan: 0
                    harga_sewa_per_tahun: 0
                    jumlah_kamar_tidur: 5
                    jumlah_kamar_mandi: 3
                    komisi: '3'
                    komisi_sewa: null
                    status_unit: Jual
                    nama_unit: FOR SALE - RUMAH MODERN NUSA LOKA BSD
                    alamat: Rawa Mekar Jaya, Serpong Sub-District, South Tangerang City, Banten
                    kota: KOTA TANGERANG SELATAN
                    kecamatan: SERPONG
                    sertifikat:
                      - SHM - Hak Milik
                    nama_penjual: Lim Lie Kian
                    nama_pemilik: Lim Lie Kian
                    provinsi: BANTEN
                    status_bangunan: Seken
                    nama_tipe_bangunan: Cluster
                    url_gallery_unit:
                      - https://stellarhome.id/media/secondary_unit/gallery_unit/FOR SALE - RUMAH MODERN NUSA LOKA BSD-65fc0851adb39.webp
                      - https://stellarhome.id/media/secondary_unit/gallery_unit/FOR SALE - RUMAH MODERN NUSA LOKA BSD-65fc08523a570.webp
                      - https://stellarhome.id/media/secondary_unit/gallery_unit/FOR SALE - RUMAH MODERN NUSA LOKA BSD-65fc085298ca3.webp
                      - https://stellarhome.id/media/secondary_unit/gallery_unit/FOR SALE - RUMAH MODERN NUSA LOKA BSD-65fc0852edcee.webp
                    url_thumbnail_unit: https://stellarhome.id/media/secondary_unit/thumbnail_unit/for-sale-rumah-modern-nusa-loka-bsd-65fc08511ed4a.webp
                    status_listing: Belum Terdaftar
                    nama_sales: Lim Lie Kian
                    luas_tanah: 203
                    luas_bangunan: 218
                  - id: 324
                    slug: dijual-rumah-secondary-griyaloka-bsd-city
                    harga_unit: 1600000000
                    harga_sewa_per_bulan: 0
                    harga_sewa_per_tahun: 0
                    jumlah_kamar_tidur: 2
                    jumlah_kamar_mandi: 2
                    komisi: '3'
                    komisi_sewa: null
                    status_unit: Jual
                    nama_unit: Dijual Rumah Secondary -  Griyaloka BSD City
                    alamat: Griyaloka BSD City , Jalan Oliander
                    kota: KOTA TANGERANG SELATAN
                    kecamatan: SERPONG
                    sertifikat:
                      - SHM - Hak Milik
                    nama_penjual: Lim Lie Kian
                    nama_pemilik: Lim Lie Kian
                    provinsi: BANTEN
                    status_bangunan: Seken
                    nama_tipe_bangunan: Rumah
                    url_gallery_unit:
                      - https://stellarhome.id/media/secondary_unit/gallery_unit/Dijual Rumah Secondary -  Griyaloka BSD City-65fc03a0148c4.webp
                    url_thumbnail_unit: https://stellarhome.id/media/secondary_unit/thumbnail_unit/dijual-rumah-secondary-griyaloka-bsd-city-65fc039fe18bb.webp
                    status_listing: Belum Terdaftar
                    nama_sales: Lim Lie Kian
                    luas_tanah: 90
                    luas_bangunan: 75
                  - id: 111
                    slug: dijual-rumah-secondary-jalan-kesehatan
                    harga_unit: 8000000000
                    harga_sewa_per_bulan: 0
                    harga_sewa_per_tahun: 0
                    jumlah_kamar_tidur: 8
                    jumlah_kamar_mandi: 5
                    komisi: '3'
                    komisi_sewa: null
                    status_unit: Jual
                    nama_unit: Dijual Rumah Secondary - Jalan Kesehatan
                    alamat: Jl. Kesehatan V No. 5, Kelurahan Bintaro, Kecamatan Pesanggrahan, Jakarta Selatan
                    kota: KOTA JAKARTA SELATAN
                    kecamatan: PESANGGRAHAN
                    sertifikat:
                      - SHM - Hak Milik
                    nama_penjual: Jeffry Ngarbingan
                    nama_pemilik: Jeffry Ngarbingan
                    provinsi: DKI JAKARTA
                    status_bangunan: Seken
                    nama_tipe_bangunan: Rumah
                    url_gallery_unit:
                      - https://stellarhome.id/media/secondary_unit/gallery_unit/Dijual Rumah Secondary - Jalan Kesehatan-65bb6a2dd1472.webp
                      - https://stellarhome.id/media/secondary_unit/gallery_unit/Dijual Rumah Secondary - Jalan Kesehatan-65bb6a2dec20d.webp
                      - https://stellarhome.id/media/secondary_unit/gallery_unit/Dijual Rumah Secondary - Jalan Kesehatan-65bb6a2e19436.webp
                      - https://stellarhome.id/media/secondary_unit/gallery_unit/Dijual Rumah Secondary - Jalan Kesehatan-65bb6a2e378ee.webp
                      - https://stellarhome.id/media/secondary_unit/gallery_unit/Dijual Rumah Secondary - Jalan Kesehatan-65bb6a2e4d114.webp
                      - https://stellarhome.id/media/secondary_unit/gallery_unit/Dijual Rumah Secondary - Jalan Kesehatan-65bb6a2e62747.webp
                      - https://stellarhome.id/media/secondary_unit/gallery_unit/Dijual Rumah Secondary - Jalan Kesehatan-65bb6a2e74c32.webp
                      - https://stellarhome.id/media/secondary_unit/gallery_unit/Dijual Rumah Secondary - Jalan Kesehatan-65bb6a2e89b4d.webp
                    url_thumbnail_unit: https://stellarhome.id/media/secondary_unit/thumbnail_unit/dijual-rumah-secondary-jalan-kesehatan-65bb6a2db4c96.webp
                    status_listing: Belum Terdaftar
                    nama_sales: Jeffry Ngarbingan
                    luas_tanah: 430
                    luas_bangunan: 650
                  - id: 53
                    slug: dijual-rumah-secondary-petukangan-selatan
                    harga_unit: 2700000000
                    harga_sewa_per_bulan: 0
                    harga_sewa_per_tahun: 0
                    jumlah_kamar_tidur: 5
                    jumlah_kamar_mandi: 4
                    komisi: '3'
                    komisi_sewa: null
                    status_unit: Jual
                    nama_unit: Dijual Rumah Secondary - Petukangan Selatan
                    alamat: Petukangan Selatan, Pesanggrahan, Jakarta Selatan
                    kota: KOTA JAKARTA SELATAN
                    kecamatan: PESANGGRAHAN
                    sertifikat:
                      - SHM - Hak Milik
                    nama_penjual: Ida Susanti
                    nama_pemilik: Ida Susanti
                    provinsi: DKI JAKARTA
                    status_bangunan: Seken
                    nama_tipe_bangunan: Town House
                    url_gallery_unit:
                      - https://stellarhome.id/media/secondary_unit/gallery_unit/Dijual Rumah Secondary - Petukangan Selatan-6555e72294995.webp
                      - https://stellarhome.id/media/secondary_unit/gallery_unit/Dijual Rumah Secondary - Petukangan Selatan-6555e722d6a3e.webp
                      - https://stellarhome.id/media/secondary_unit/gallery_unit/Dijual Rumah Secondary - Petukangan Selatan-6555e7233ce44.webp
                      - https://stellarhome.id/media/secondary_unit/gallery_unit/Dijual Rumah Secondary - Petukangan Selatan-6555e723b4a8f.webp
                      - https://stellarhome.id/media/secondary_unit/gallery_unit/Dijual Rumah Secondary - Petukangan Selatan-6555e724310b5.webp
                      - https://stellarhome.id/media/secondary_unit/gallery_unit/Dijual Rumah Secondary - Petukangan Selatan-6555e724859e0.webp
                      - https://stellarhome.id/media/secondary_unit/gallery_unit/Dijual Rumah Secondary - Petukangan Selatan-6555e7250237e.webp
                      - https://stellarhome.id/media/secondary_unit/gallery_unit/Dijual Rumah Secondary - Petukangan Selatan-6555e72555c67.webp
                      - https://stellarhome.id/media/secondary_unit/gallery_unit/Dijual Rumah Secondary - Petukangan Selatan-6555e725a557b.webp
[...]
