swagger: '2.0'
info:
  version: '1.0'
  title: Stellar Home Mobile
  contact: {}
host: stellarhome.id
basePath: /api/v3/mobile
securityDefinitions: {}
schemes:
  - http
consumes:
  - application/json
produces:
  - application/json
paths:
  /mobile_banner:
    get:
      summary: Mobile Banner
      tags:
        - Banner
      operationId: MobileBanner
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: false
          default: Bearer {token}
          type: string
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Dataretrieved'
          examples:
            application/json:
              success: true
              error: null
              message: Data retrieved.
              data:
                current_page: 1
                data:
                  - id: 1
                    slug: properti
                    title: Properti
                    banner_image: Properti-64d1adab120c9.webp
                    created_at: '2023-08-07T19:50:20.000000Z'
                    updated_at: '2023-08-07T19:51:23.000000Z'
                    url_banner_image: https://stellarhome.totalit.co.id/media/mobile_banner/banner_image/Properti-64d1adab120c9.webp
                first_page_url: https://stellarhome.totalit.co.id/api/v1/mobile/mobile_banner?page=1
                from: 1
                last_page: 1
                last_page_url: https://stellarhome.totalit.co.id/api/v1/mobile/mobile_banner?page=1
                links:
                  - url: null
                    label: '&laquo; Previous'
                    active: false
                  - url: https://stellarhome.totalit.co.id/api/v1/mobile/mobile_banner?page=1
                    label: '1'
                    active: true
                  - url: null
                    label: Next &raquo;
                    active: false
                next_page_url: null
                path: https://stellarhome.totalit.co.id/api/v1/mobile/mobile_banner
                per_page: 15
                prev_page_url: null
                to: 1
                total: 1
          headers:
            Date:
              type: string
              default: Thu, 22 Feb 2024 04:47:29 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '39'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Vary:
              type: string
              default: Authorization
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=QjPABq0VvDZv%2FTdNOnh8EzVaQW9kc9dC14a1PDmBDyaA%2FClhIjSEv540LEzz3Qd2xjR38%2FpZUgar0bk96UfLlyz7wRS66xD%2BomXWa1ZXNbaKODpmlK8kGcPvZePeVDFkH0ym4Zo4b9U2gbZ9"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 85949760ba675df0-HKG
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
  /bidding/tambah:
    post:
      summary: Tambah Biding Callback
      tags:
        - Bidding
      operationId: TambahBidingCallback
      deprecated: false
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: Authorization
          in: header
          required: false
          default: Bearer {token}
          type: string
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: id_prospek
          in: formData
          required: true
          type: integer
          format: int32
          description: required|exist in prospek
        - name: is_approve
          in: formData
          required: true
          type: integer
          format: int32
          description: required|boolean
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Prospekinvalid'
          examples:
            application/json:
              success: false
              error:
                id_prospek:
                  - The selected id prospek is invalid.
              message: The selected id prospek is invalid.
          headers:
            Date:
              type: string
              default: Thu, 22 Feb 2024 12:43:31 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '57'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Vary:
              type: string
              default: Authorization
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=nzrZjaCRnGfnMy8GhSo0Fnjbf7FLEgdiD4HfA0CqWh%2Bu0wXhF8374wFUfhxbll3kGkKHYboJjFvUI%2FVZFS0VtpLsADJOrh3EHXmexmZ%2BPCddxySbJjzBHBIA1ub%2BJoVKg7nQoxoAUh8IOLZj"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 859750af4a1b8561-HKG
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
  /klien/tambah:
    post:
      summary: Tambah Klien Baru
      tags:
        - Klien
      operationId: TambahKlienBaru
      deprecated: false
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: Authorization
          in: header
          required: false
          default: Bearer {token}
          type: string
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: nama_klien
          in: formData
          required: true
          type: string
          description: required|max:255
        - name: nomor_hp
          in: formData
          required: true
          type: string
          description: required|+62xxxxxxxx
        - name: email
          in: formData
          required: true
          type: string
          description: required|email
        - name: catatan
          in: formData
          required: true
          type: string
          description: nullable
        - name: nama_bank
          in: formData
          required: true
          type: string
          description: nullable
        - name: nomor_rekening
          in: formData
          required: true
          type: integer
          format: int64
          description: nullable|numeric
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Klienberhasildisimpan'
          examples:
            application/json:
              success: true
              error: null
              message: Klien berhasil disimpan.
              data:
                nama_klien: Client Adi
                email: adi200@gmail.com
                catatan: null
                nama_bank: BCA
                nomor_rekening: '3221102928'
                sales_id: 8
                sales_type: Sales Agent
                telepone: '+62878855115252'
                kode_otp: 7693
                slug: client-adi
                updated_at: '2024-01-19T13:14:29.000000Z'
                created_at: '2024-01-19T13:14:29.000000Z'
                id: 45
          headers:
            Date:
              type: string
              default: Fri, 23 Feb 2024 10:40:08 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Vary:
              type: string
              default: Authorization
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=Eu%2BNSd4ixqKheJWGoMLcAaPb6FSouzRUrkVZqKGr%2Bz4c47SWmj8kgWy4HvPG6IIKQ%2B4nSd9ubXhHelku%2FCE4N1MkNRqv79497ply3wZtv0saRrBDEYspnAn%2BTpaLrXUuAspyE5xDCM3HGclY"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 859ed94c3d0c861d-HKG
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
  /klien/verifikasi:
    post:
      summary: Verifikasi Klien OTP
      tags:
        - Klien
      operationId: VerifikasiKlienOTP
      deprecated: false
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: Authorization
          in: header
          required: false
          default: Bearer {token}
          type: string
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: nomor_hp
          in: formData
          required: true
          type: string
          description: required
        - name: kode_otp
          in: formData
          required: true
          type: integer
          format: int32
          description: required|numeric
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Kodeverifikasiberhasildikirim'
          examples:
            application/json:
              success: true
              error: null
              message: Kode verifikasi berhasil diterima.
          headers:
            Date:
              type: string
              default: Fri, 23 Feb 2024 10:31:05 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '58'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Vary:
              type: string
              default: Authorization
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=Kj3WlI0R5DU0Py1lCx07wAtlNV0rQNgHFWVRubTKrDee2e2M2vXDRuB2%2F6AOl5iWe%2BQpNyE%2BordyhGS%2FlpH8IdsNfk2KlONVd29BpOIrVbBtAfFQ7%2Byrqscf1TRsN%2BjqmJMFmsxa9MC8H78g"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 859ecc109de7861d-HKG
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
  /klien/resend:
    post:
      summary: Resend Klien OTP
      tags:
        - Klien
      operationId: ResendKlienOTP
      deprecated: false
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: Authorization
          in: header
          required: false
          default: Bearer {token}
          type: string
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: nomor_hp
          in: formData
          required: true
          type: string
          description: required
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Kodeverifikasiberhasildikirim1'
          examples:
            application/json:
              success: true
              error: null
              message: Kode verifikasi berhasil dikirim.
              data: 2596
          headers:
            Date:
              type: string
              default: Fri, 23 Feb 2024 10:37:05 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '58'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Vary:
              type: string
              default: Authorization
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=NItFugAe1vANyYSjlefPg0GhrC9Nbr8CLgT1%2Bg5sL5ELtVAkEfwt8fT1tSeemh5HtJmV7TXebpummIQSvtv7v9eLjvEd8cXob5l%2Fg43TqiLboID7aKI7C2Ar026nQTx0ue5sdcMOoM%2BBfeuU"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 859ed4c9ef3f861d-HKG
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
  /klien:
    get:
      description: http://epichome.id/admin/api/v1/mobile/klien/{sales_id}
      summary: Data Klien
      tags:
        - Klien
      operationId: DataKlien
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: false
          default: Bearer {token}
          type: string
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Dataretrieved1'
          examples:
            application/json:
              success: true
              error: null
              message: Data retrieved.
              data:
                current_page: 1
                data:
                  - slug: client-adi-3
                    nama_klien: Client Adi
                    sales_id: '8'
                    sales_type: Sales Agent
                    telepone: '+62878855115252'
                    email: adi200@gmail.com
                    catatan: null
                    nama_bank: BCA
                    nomor_rekening: '3221102928'
                    created_at: '2024-01-19T13:38:14.000000Z'
                    updated_at: '2024-01-19T13:38:14.000000Z'
                    id: 47
                    is_verified: 0
                    kode_otp: '9432'
                  - slug: client-adi-2
                    nama_klien: Client Adi
                    sales_id: '8'
                    sales_type: Sales Agent
                    telepone: '+62878855115252'
                    email: adi200@gmail.com
                    catatan: null
                    nama_bank: BCA
                    nomor_rekening: '3221102928'
                    created_at: '2024-01-19T13:38:09.000000Z'
                    updated_at: '2024-01-19T13:38:09.000000Z'
                    id: 46
                    is_verified: 0
                    kode_otp: '9493'
                  - slug: client-adi
                    nama_klien: Client Adi
                    sales_id: '8'
                    sales_type: Sales Agent
                    telepone: '+62878855115252'
                    email: adi200@gmail.com
                    catatan: null
                    nama_bank: BCA
                    nomor_rekening: '3221102928'
                    created_at: '2024-01-19T13:14:29.000000Z'
                    updated_at: '2024-02-22T14:14:35.000000Z'
                    id: 45
                    is_verified: 0
                    kode_otp: '6778'
                first_page_url: https://stellarhome.totalit.co.id/api/v1/mobile/klien?page=1
                from: 1
                last_page: 1
                last_page_url: https://stellarhome.totalit.co.id/api/v1/mobile/klien?page=1
                links:
                  - url: null
                    label: '&laquo; Previous'
                    active: false
                  - url: https://stellarhome.totalit.co.id/api/v1/mobile/klien?page=1
                    label: '1'
                    active: true
                  - url: null
                    label: Next &raquo;
                    active: false
                next_page_url: null
                path: https://stellarhome.totalit.co.id/api/v1/mobile/klien
                per_page: 15
                prev_page_url: null
                to: 3
                total: 3
          headers:
            Date:
              type: string
              default: Thu, 22 Feb 2024 14:19:12 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Vary:
              type: string
              default: Authorization
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=HVSsAwE3CXwVTgnJFZivMxATYFsamftI7Lfb2Q1NT%2BD235wIIYaE8%2FCr32a7AH4Z5gg1WMGjZ9UXhd8PsXN4Smut0jQZQR6pag9HK2em02jslZqylhG%2BL9OnkptlvQ4Kcivbng8uIOpDntRX"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 8597dcd78f5b84d2-HKG
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
  /proyek_primary:
    get:
      summary: Proyek Primary
      tags:
        - Proyek Primary
      operationId: ProyekPrimary
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: false
          default: Bearer {token}
          type: string
        - name: search
          in: query
          required: true
          type: string
          description: ''
        - name: provinsi
          in: query
          required: true
          type: string
          description: ''
        - name: kota
          in: query
          required: true
          type: string
          description: ''
        - name: kecamatan
          in: query
          required: true
          type: string
          description: ''
        - name: kamar_tidur
          in: query
          required: true
          type: string
          description: ''
        - name: kamar_mandi
          in: query
          required: true
          type: string
          description: ''
        - name: tipe_bangunan
          in: query
          required: true
          type: string
          description: ''
        - name: developer
          in: query
          required: true
          type: string
          description: ''
        - name: harga_termurah
          in: query
          required: true
          type: string
          description: ''
        - name: harga_termahal
          in: query
          required: true
          type: string
          description: ''
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Dataretrieved2'
          examples:
            application/json:
              success: true
              error: null
              message: Data retrieved.
              data:
                current_page: 1
                data:
                  - id: 96
                    slug: kos-mami
                    id_tipe_bangunan: 9
                    status_unit: Jual
                    nama_proyek: Kos Mami
                    provinsi: BANTEN
                    kota: KOTA TANGERANG SELATAN
                    kecamatan: SERPONG
                    alamat: Jl apel
                    harga_awal: 2000000000
                    komisi: '5'
                    id_developer: 1
                    status_listing: null
                    nama_developer: Eminent Development
                    nama_tipe_bangunan: Indekos
                    url_thumbnail_image: https://stellarhome.totalit.co.id/media/proyek_primary/thumbnail_image/Kos Mami-65d70cc78a29d.webp
                    harga_termahal: 2000000000
                    url_banner_proyek:
                      - https://stellarhome.totalit.co.id/media/proyek_primary/banner_proyek/Kos Mami-65b9fced856f4.webp
                      - https://stellarhome.totalit.co.id/media/proyek_primary/banner_proyek/Kos Mami-65b9fcedb7557.webp
                    closing_fee: 1000000
                    point: 35
                  - id: 95
                    slug: grand-serpong-permai
                    id_tipe_bangunan: 4
                    status_unit: Jual
                    nama_proyek: Grand Serpong Permai BSD Jaya Raya
                    provinsi: BANTEN
                    kota: KOTA TANGERANG SELATAN
                    kecamatan: SERPONG
                    alamat: jl raya bsd, Banten
                    harga_awal: 100000000
                    komisi: '3'
                    id_developer: 1
                    status_listing: null
                    nama_developer: Eminent Development
                    nama_tipe_bangunan: Cluster
                    url_thumbnail_image: https://stellarhome.totalit.co.id/media/proyek_primary/thumbnail_image/Grand Serpong Permai-65af61d822e98.webp
                    harga_termahal: 250000000
                    url_banner_proyek:
                      - https://stellarhome.totalit.co.id/media/proyek_primary/banner_proyek/Grand Serpong Permai-65af61d85f3b8.webp
                    closing_fee: 1000000
                    point: 20
                  - id: 89
                    slug: sriamur
                    id_tipe_bangunan: 6
                    status_unit: Jual
                    nama_proyek: Sriamur Jaya Raya Makasar
                    provinsi: BANTEN
                    kota: KOTA TANGERANG SELATAN
                    kecamatan: SERPONG
                    alamat: jl
                    harga_awal: 100000000
                    komisi: '0'
                    id_developer: 1
                    status_listing: null
                    nama_developer: Eminent Development
                    nama_tipe_bangunan: Apartemen
                    url_thumbnail_image: https://stellarhome.totalit.co.id/media/proyek_primary/thumbnail_image/Sriamur-656ff3ef5a08b.webp
                    harga_termahal: 100000000
                    url_banner_proyek:
                      - https://stellarhome.totalit.co.id/media/proyek_primary/banner_proyek/Sriamur-6579271ef2cb8.webp
                    closing_fee: 1000000
                    point: 35
                  - id: 70
                    slug: rusun-bambu
                    id_tipe_bangunan: 8
                    status_unit: Jual
                    nama_proyek: Rusun Bambu
                    provinsi: BANTEN
                    kota: KOTA TANGERANG SELATAN
                    kecamatan: SERPONG
                    alamat: Jl. Raya
                    harga_awal: 200000000
                    komisi: '10'
                    id_developer: 1
                    status_listing: null
                    nama_developer: Eminent Development
                    nama_tipe_bangunan: Rumah Susun
                    url_thumbnail_image: https://stellarhome.totalit.co.id/media/proyek_primary/thumbnail_image/Rusun Bambu-655331ed76451.webp
                    harga_termahal: 350000000
                    url_banner_proyek:
                      - https://stellarhome.totalit.co.id/media/proyek_primary/banner_proyek/Rusun Bambu-65796755ee36b.webp
                    closing_fee: 2000000
                    point: 50
                  - id: 40
                    slug: proyek-testing-2
                    id_tipe_bangunan: 4
                    status_unit: Jual
                    nama_proyek: Proyek Testing
                    provinsi: DKI JAKARTA
                    kota: KOTA JAKARTA SELATAN
                    kecamatan: CILANDAK
                    alamat: Jl. raya
                    harga_awal: 250000000
                    komisi: '10'
                    id_developer: 5
                    status_listing: null
                    nama_developer: PT Agung Podomoro Land Tbk
                    nama_tipe_bangunan: Cluster
                    url_thumbnail_image: https://stellarhome.totalit.co.id/media/proyek_primary/thumbnail_image/Proyek Testing-65449e340d24b.webp
                    harga_termahal: 500000000
                    url_banner_proyek:
                      - https://stellarhome.totalit.co.id/media/proyek_primary/banner_proyek/Proyek Testing-657fff8dbaf98.webp
                      - https://stellarhome.totalit.co.id/media/proyek_primary/banner_proyek/Proyek Testing-65d6fa8bf146a.webp
                    closing_fee: 5000000
                    point: 200
                  - id: 15
                    slug: terravia
                    id_tipe_bangunan: 4
                    status_unit: Jual
                    nama_proyek: Terravia
                    provinsi: JAWA TENGAH
                    kota: KABUPATEN BANYUMAS
                    kecamatan: WANGON
                    alamat: Cijantra, Pagedangan, Tangerang Regency, Banten
                    harga_awal: 250000000
                    komisi: '3'
                    id_developer: 8
                    status_listing: null
                    nama_developer: Perumnas
                    nama_tipe_bangunan: Cluster
                    url_thumbnail_image: https://stellarhome.totalit.co.id/media/proyek_primary/thumbnail_image/Terravia-651d26329a06d.webp
                    harga_termahal: 550000000
                    url_banner_proyek:
                      - https://stellarhome.totalit.co.id/media/proyek_primary/banner_proyek/Terravia-65b21a5825f1d.webp
                    closing_fee: 1000000
                    point: 30
                  - id: 13
                    slug: eminent-terrace
                    id_tipe_bangunan: 4
                    status_unit: Jual
                    nama_proyek: Eminent Park
                    provinsi: BANTEN
                    kota: KOTA TANGERANG SELATAN
                    kecamatan: SERPONG
                    alamat: Jl. Raya Wana Mulya
                    harga_awal: 500000000
                    komisi: '5.5'
                    id_developer: 1
                    status_listing: null
                    nama_developer: Eminent Development
                    nama_tipe_bangunan: Cluster
                    url_thumbnail_image: https://stellarhome.totalit.co.id/media/proyek_primary/thumbnail_image/Eminent Terrace-651d26ad3117e.webp
                    harga_termahal: 1250000000
                    url_banner_proyek:
                      - https://stellarhome.totalit.co.id/media/proyek_primary/banner_proyek/Eminent Terrace-651d26ab99f30.webp
                      - https://stellarhome.totalit.co.id/media/proyek_primary/banner_proyek/Eminent Terrace-651d26ac132bb.webp
                      - https://stellarhome.totalit.co.id/media/proyek_primary/banner_proyek/Eminent Terrace-651d26ac40e85.webp
                      - https://stellarhome.totalit.co.id/media/proyek_primary/banner_proyek/Eminent Terrace-651d26ac71d6a.webp
                    closing_fee: 100000007
                    point: 70
                first_page_url: https://stellarhome.totalit.co.id/api/v1/mobile/proyek_primary?page=1
                from: 1
                last_page: 1
                last_page_url: https://stellarhome.totalit.co.id/api/v1/mobile/proyek_primary?page=1
                links:
                  - url: null
                    label: '&laquo; Previous'
                    active: false
                  - url: https://stellarhome.totalit.co.id/api/v1/mobile/proyek_primary?page=1
                    label: '1'
                    active: true
                  - url: null
                    label: Next &raquo;
                    active: false
                next_page_url: null
                path: https://stellarhome.totalit.co.id/api/v1/mobile/proyek_primary
                per_page: 15
                prev_page_url: null
                to: 7
                total: 7
          headers:
            Date:
              type: string
              default: Thu, 22 Feb 2024 14:36:25 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Vary:
              type: string
              default: Authorization
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=Q5iuGL5fUDoyx%2BMyqAv%2B46FWtm8lis7eN%2BGnNiaML11Ao%2FdrF56nB7A%2BGlhX9EDAcx3FGrrt9P3921T54cI0k5h9N%2BImqJpTj%2FBqiSbiyXHswngdM9Iv5agftdqi32lHKUK3lvUTFHtJT7IG"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 8597f611c9ce84d2-HKG
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
  /proyek_primary/detail/96:
    get:
      description: http://epichome.id/admin/api/v1/mobile/proyek_primary/detail/{id}
      summary: Proyek Primary Detail
      tags:
        - Proyek Primary
      operationId: ProyekPrimaryDetail
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: false
          default: Bearer {token}
          type: string
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Dataretrieved3'
          headers:
            Date:
              type: string
              default: Mon, 26 Feb 2024 04:17:06 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Vary:
              type: string
              default: Authorization
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=i0cUmYzRO5auijQnNuIKQPRPJpXHQC3l%2FauUnJsS1kCAUlcIACAd5UFtzkaJ2QzFl9oQAONYy19BXOyGh6QzGob4Q1noSQwfdTsaQfUZYio0mwOGpSujo%2FeMAVe4UepizeztN96MEyEblrtT"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 85b5605ceb3004ee-HKG
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
  /proyek_primary/recommended:
    get:
      summary: Proyek Unggulan
      tags:
        - Proyek Primary
      operationId: ProyekUnggulan
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: false
          default: Bearer {token}
          type: string
        - name: search
          in: query
          required: true
          type: string
          description: ''
        - name: provinsi
          in: query
          required: true
          type: string
          description: ''
        - name: kota
          in: query
          required: true
          type: string
          description: ''
        - name: kecamatan
          in: query
          required: true
          type: string
          description: ''
        - name: kamar_tidur
          in: query
          required: true
          type: string
          description: ''
        - name: kamar_mandi
          in: query
          required: true
          type: string
          description: ''
        - name: tipe_bangunan
          in: query
          required: true
          type: string
          description: ''
        - name: developer
          in: query
          required: true
          type: string
          description: ''
        - name: harga_termurah
          in: query
          required: true
          type: string
          description: ''
        - name: harga_termahal
          in: query
          required: true
          type: string
          description: ''
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Dataretrieved2'
          examples:
            application/json:
              success: true
              error: null
              message: Data retrieved.
              data:
                current_page: 1
                data:
                  - id: 95
                    slug: grand-serpong-permai
                    id_tipe_bangunan: 4
                    status_unit: Jual
                    nama_proyek: Grand Serpong Permai BSD Jaya Raya
                    provinsi: BANTEN
                    kota: KOTA TANGERANG SELATAN
                    kecamatan: SERPONG
                    alamat: jl raya bsd, Banten
                    harga_awal: 100000000
                    komisi: '3'
                    id_developer: 1
                    status_listing: null
                    nama_developer: Eminent Development
                    nama_tipe_bangunan: Cluster
                    url_thumbnail_image: https://stellarhome.totalit.co.id/media/proyek_primary/thumbnail_image/Grand Serpong Permai-65af61d822e98.webp
                    harga_termahal: 250000000
                    url_banner_proyek:
                      - https://stellarhome.totalit.co.id/media/proyek_primary/banner_proyek/Grand Serpong Permai-65af61d85f3b8.webp
                    closing_fee: 1000000
                    point: 20
                  - id: 89
                    slug: sriamur
                    id_tipe_bangunan: 6
                    status_unit: Jual
                    nama_proyek: Sriamur Jaya Raya Makasar
                    provinsi: BANTEN
                    kota: KOTA TANGERANG SELATAN
                    kecamatan: SERPONG
                    alamat: jl
                    harga_awal: 100000000
                    komisi: '0'
                    id_developer: 1
                    status_listing: null
                    nama_developer: Eminent Development
                    nama_tipe_bangunan: Apartemen
                    url_thumbnail_image: https://stellarhome.totalit.co.id/media/proyek_primary/thumbnail_image/Sriamur-656ff3ef5a08b.webp
                    harga_termahal: 100000000
                    url_banner_proyek:
                      - https://stellarhome.totalit.co.id/media/proyek_primary/banner_proyek/Sriamur-6579271ef2cb8.webp
                    closing_fee: 1000000
                    point: 35
                  - id: 70
                    slug: rusun-bambu
                    id_tipe_bangunan: 8
                    status_unit: Jual
                    nama_proyek: Rusun Bambu
                    provinsi: BANTEN
                    kota: KOTA TANGERANG SELATAN
                    kecamatan: SERPONG
                    alamat: Jl. Raya
                    harga_awal: 200000000
                    komisi: '10'
                    id_developer: 1
                    status_listing: Belum Terdaftar
                    nama_developer: Eminent Development
                    nama_tipe_bangunan: Rumah Susun
                    url_thumbnail_image: https://stellarhome.totalit.co.id/media/proyek_primary/thumbnail_image/Rusun Bambu-655331ed76451.webp
                    harga_termahal: 350000000
                    url_banner_proyek:
                      - https://stellarhome.totalit.co.id/media/proyek_primary/banner_proyek/Rusun Bambu-65796755ee36b.webp
                    closing_fee: 2000000
                    point: 50
                  - id: 40
                    slug: proyek-testing-2
                    id_tipe_bangunan: 4
                    status_unit: Jual
                    nama_proyek: Proyek Testing
                    provinsi: DKI JAKARTA
                    kota: KOTA JAKARTA SELATAN
                    kecamatan: CILANDAK
                    alamat: Jl. raya
                    harga_awal: 200000000
                    komisi: '5'
                    id_developer: 5
                    status_listing: Belum Terdaftar
                    nama_developer: PT Agung Podomoro Land Tbk
                    nama_tipe_bangunan: Cluster
                    url_thumbnail_image: https://stellarhome.totalit.co.id/media/proyek_primary/thumbnail_image/Proyek Testing-65449e340d24b.webp
                    harga_termahal: 500000000
                    url_banner_proyek:
                      - https://stellarhome.totalit.co.id/media/proyek_primary/banner_proyek/Proyek Testing-657fff8dbaf98.webp
                    closing_fee: 1000000
                    point: 200
                  - id: 15
                    slug: terravia
                    id_tipe_bangunan: 4
                    status_unit: Jual
                    nama_proyek: Terravia
                    provinsi: JAWA TENGAH
                    kota: KABUPATEN BANYUMAS
                    kecamatan: WANGON
                    alamat: Cijantra, Pagedangan, Tangerang Regency, Banten
                    harga_awal: 250000000
                    komisi: '3'
                    id_developer: 8
                    status_listing: Belum Terdaftar
                    nama_developer: Perumnas
                    nama_tipe_bangunan: Cluster
                    url_thumbnail_image: https://stellarhome.totalit.co.id/media/proyek_primary/thumbnail_image/Terravia-651d26329a06d.webp
                    harga_termahal: 550000000
                    url_banner_proyek:
                      - https://stellarhome.totalit.co.id/media/proyek_primary/banner_proyek/Terravia-65b21a5825f1d.webp
                    closing_fee: 1000000
                    point: 30
                  - id: 13
                    slug: eminent-terrace
                    id_tipe_bangunan: 4
                    status_unit: Jual
                    nama_proyek: Eminent Park
                    provinsi: BANTEN
                    kota: KOTA TANGERANG SELATAN
                    kecamatan: SERPONG
                    alamat: Jl. Raya Wana Mulya
                    harga_awal: 500000000
                    komisi: '5.5'
                    id_developer: 1
                    status_listing: Belum Terdaftar
                    nama_developer: Eminent Development
                    nama_tipe_bangunan: Cluster
                    url_thumbnail_image: https://stellarhome.totalit.co.id/media/proyek_primary/thumbnail_image/Eminent Terrace-651d26ad3117e.webp
                    harga_termahal: 1250000000
                    url_banner_proyek:
                      - https://stellarhome.totalit.co.id/media/proyek_primary/banner_proyek/Eminent Terrace-651d26ab99f30.webp
                      - https://stellarhome.totalit.co.id/media/proyek_primary/banner_proyek/Eminent Terrace-651d26ac132bb.webp
                      - https://stellarhome.totalit.co.id/media/proyek_primary/banner_proyek/Eminent Terrace-651d26ac40e85.webp
                      - https://stellarhome.totalit.co.id/media/proyek_primary/banner_proyek/Eminent Terrace-651d26ac71d6a.webp
                    closing_fee: 100000007
                    point: 70
                first_page_url: https://stellarhome.totalit.co.id/api/v1/mobile/proyek_primary/recommended?page=1
                from: 1
                last_page: 1
                last_page_url: https://stellarhome.totalit.co.id/api/v1/mobile/proyek_primary/recommended?page=1
                links:
                  - url: null
                    label: '&laquo; Previous'
                    active: false
                  - url: https://stellarhome.totalit.co.id/api/v1/mobile/proyek_primary/recommended?page=1
                    label: '1'
                    active: true
                  - url: null
                    label: Next &raquo;
                    active: false
                next_page_url: null
                path: https://stellarhome.totalit.co.id/api/v1/mobile/proyek_primary/recommended
                per_page: 15
                prev_page_url: null
                to: 6
                total: 6
          headers:
            Date:
              type: string
              default: Thu, 22 Feb 2024 04:52:46 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Vary:
              type: string
              default: Authorization
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=d9aqManDLtbbOj3aeMMHu0LBzRrBzh%2Fq4XbP3xD1zfNrOS3JBkqltWEQibiXPE3HO39L4dD9QhFMy8BoQzvrBvMjUoUidhXa5cCoDCKk6cF7iSIrHqhMqjDrS8P05jwBPrQ2Zev4POG8EOnJ"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 85949f180fae6e64-HKG
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
  /secondary_unit:
    get:
      summary: Secondary Unit
      tags:
        - Secondary Unit
      operationId: SecondaryUnit
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: false
          default: Bearer {token}
          type: string
        - name: search
          in: query
          required: true
          type: string
          description: ''
        - name: provinsi
          in: query
          required: true
          type: string
          description: ''
        - name: kota
          in: query
          required: true
          type: string
          description: ''
        - name: kecamatan
          in: query
          required: true
          type: string
          description: ''
        - name: kamar_tidur
          in: query
          required: true
          type: string
          description: ''
        - name: kamar_mandi
          in: query
          required: true
          type: string
          description: ''
        - name: tipe_bangunan
          in: query
          required: true
          type: string
          description: ''
        - name: status_bangunan
          in: query
          required: true
          type: string
          description: ''
        - name: status_unit
          in: query
          required: true
          type: string
          description: ''
        - name: harga_termurah
          in: query
          required: true
          type: string
          description: ''
        - name: harga_termahal
          in: query
          required: true
          type: string
          description: ''
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Dataretrieved5'
          examples:
            application/json:
              success: true
              error: null
              message: Data retrieved.
              data:
                current_page: 1
                data:
                  - id: 107
                    slug: test
                    harga_unit: 100000000
                    harga_sewa_per_bulan: 1000000
                    harga_sewa_per_tahun: 10000000
                    jumlah_kamar_tidur: 2
                    jumlah_kamar_mandi: 1
                    komisi: '10'
                    komisi_sewa: '10'
                    status_unit: Jual/Sewa
                    nama_unit: Test
                    alamat: Test
                    kota: KOTA SURABAYA
                    kecamatan: GUBENG
                    sertifikat:
                      - SHM - Hak Milik
                    nama_penjual: Test
                    nama_pemilik: Test
                    provinsi: JAWA TIMUR
                    status_bangunan: Seken
                    nama_tipe_bangunan: Town House
                    url_gallery_unit:
                      - https://stellarhome.totalit.co.id/media/secondary_unit/gallery_unit/Test-65c0847687383.webp
                    url_thumbnail_unit: https://stellarhome.totalit.co.id/media/secondary_unit/thumbnail_unit/test-65c05d1143002.webp
                    status_listing: Belum Terdaftar
                    luas_tanah: 32
                    luas_bangunan: 32
                  - id: 106
                    slug: surabaya-a2
                    harga_unit: 100000000
                    harga_sewa_per_bulan: 0
                    harga_sewa_per_tahun: 10000000
                    jumlah_kamar_tidur: 2
                    jumlah_kamar_mandi: 2
                    komisi: '2'
                    komisi_sewa: '5'
                    status_unit: Jual/Sewa
                    nama_unit: Surabaya A2
                    alamat: jawabtpsadjkwqr ajwa timur
                    kota: KOTA SURABAYA
                    kecamatan: GUBENG
                    sertifikat:
                      - SHM - Hak Milik
                    nama_penjual: Kevin
                    nama_pemilik: Kevin
                    provinsi: JAWA TIMUR
                    status_bangunan: Seken
                    nama_tipe_bangunan: Town House
                    url_gallery_unit:
                      - https://stellarhome.totalit.co.id/media/secondary_unit/gallery_unit/Surabaya A2-65c0532cd3fdf.webp
                    url_thumbnail_unit: https://stellarhome.totalit.co.id/media/secondary_unit/thumbnail_unit/surabaya-a2-65c0532cba4c8.webp
                    status_listing: Belum Terdaftar
                    luas_tanah: 32
                    luas_bangunan: 32
                  - id: 98
                    slug: kos-putri-bintaro
                    harga_unit: 300000000
                    harga_sewa_per_bulan: 0
                    harga_sewa_per_tahun: 0
                    jumlah_kamar_tidur: 10
                    jumlah_kamar_mandi: 2
                    komisi: '2'
                    komisi_sewa: '5'
                    status_unit: Jual
                    nama_unit: Kos Putri Bintaro
                    alamat: aa
                    kota: KOTA TANGERANG SELATAN
                    kecamatan: SETU
                    sertifikat:
                      - AJB - Akta Jual Beli
                    nama_penjual: James
                    nama_pemilik: Daffa
                    provinsi: BANTEN
                    status_bangunan: Seken
                    nama_tipe_bangunan: Indekos
                    url_gallery_unit:
                      - https://stellarhome.totalit.co.id/media/secondary_unit/gallery_unit/Kos Putri Bintaro-65bb4e4ee7355.webp
                    url_thumbnail_unit: https://stellarhome.totalit.co.id/media/secondary_unit/thumbnail_unit/kos-putri-bintaro-65bb4e4eb4a6a.webp
                    status_listing: Belum Terdaftar
                    luas_tanah: 20
                    luas_bangunan: 50
                  - id: 81
                    slug: rukan-ciwidey-bandung
                    harga_unit: 200000000
                    harga_sewa_per_bulan: 0
                    harga_sewa_per_tahun: 0
                    jumlah_kamar_tidur: 2
                    jumlah_kamar_mandi: 1
                    komisi: '2'
                    komisi_sewa: '5'
                    status_unit: Jual
                    nama_unit: Rukan Ciwidey Bandung
                    alamat: Jl Raya
                    kota: KABUPATEN BANDUNG
                    kecamatan: CIWIDEY
                    sertifikat:
                      - SHM - Hak Milik
                      - HGB - Hak Guna Bangunan
                      - SHM-SRS - Hak Milik Satuan Rumah Susun
                    nama_penjual: Japu
                    nama_pemilik: Japu
                    provinsi: JAWA BARAT
                    status_bangunan: Seken
                    nama_tipe_bangunan: Rukan
                    url_gallery_unit:
                      - https://stellarhome.totalit.co.id/media/secondary_unit/gallery_unit/Rukan Ciwidey Bandung-658b9741e7e26.webp
                    url_thumbnail_unit: https://stellarhome.totalit.co.id/media/secondary_unit/thumbnail_unit/rukan-ciwidey-bandung-658b9741d2539.webp
                    status_listing: Belum Terdaftar
                    luas_tanah: 20
                    luas_bangunan: 30
                  - id: 78
                    slug: ruko-baru
                    harga_unit: 0
                    harga_sewa_per_bulan: 10000000
                    harga_sewa_per_tahun: 100000000
                    jumlah_kamar_tidur: 3
                    jumlah_kamar_mandi: 3
                    komisi: '5'
                    komisi_sewa: '5'
                    status_unit: Sewa
                    nama_unit: Ruko Baru
                    alamat: Jalan fatmawati
                    kota: KOTA TANGERANG SELATAN
                    kecamatan: SETU
                    sertifikat:
                      - SHM - Hak Milik
                      - HGB - Hak Guna Bangunan
                      - SHM-SRS - Hak Milik Satuan Rumah Susun
                      - Girik - Tanah Adat
                    nama_penjual: Total
                    nama_pemilik: Test Total
                    provinsi: BANTEN
                    status_bangunan: Seken
                    nama_tipe_bangunan: Ruko
                    url_gallery_unit:
                      - https://stellarhome.totalit.co.id/media/secondary_unit/gallery_unit/Ruko Baru-659cca7432b26.webp
                    url_thumbnail_unit: https://stellarhome.totalit.co.id/media/secondary_unit/thumbnail_unit/ruko-baru-65b2116d26eaf.webp
                    status_listing: Belum Terdaftar
                    luas_tanah: 20
                    luas_bangunan: 10
                  - id: 73
                    slug: town-house-ciputat
                    harga_unit: 100000000
                    harga_sewa_per_bulan: 0
                    harga_sewa_per_tahun: 0
                    jumlah_kamar_tidur: 2
                    jumlah_kamar_mandi: 1
                    komisi: '2'
                    komisi_sewa: '5'
                    status_unit: Jual
                    nama_unit: Town House Ciputat
                    alamat: jl ci
                    kota: KOTA TANGERANG SELATAN
                    kecamatan: CIPUTAT
                    sertifikat:
                      - SHM - Hak Milik
                      - HGB - Hak Guna Bangunan
                      - SHM-SRS - Hak Milik Satuan Rumah Susun
                    nama_penjual: Puja Alfina
                    nama_pemilik: Sugiana
                    provinsi: BANTEN
                    status_bangunan: Seken
                    nama_tipe_bangunan: Town House
                    url_gallery_unit:
                      - https://stellarhome.totalit.co.id/media/secondary_unit/gallery_unit/Town House Ciputat-657177e7972a2.webp
                    url_thumbnail_unit: https://stellarhome.totalit.co.id/media/secondary_unit/thumbnail_unit/town-house-ciputat-657179592e943.webp
                    status_listing: Sedang Mendaftar
                    luas_tanah: 60
                    luas_bangunan: 40
                  - id: 68
                    slug: cluster-ciledug-seken
                    harga_unit: 200000000
                    harga_sewa_per_bulan: 10000000
                    harga_sewa_per_tahun: 0
                    jumlah_kamar_tidur: 2
                    jumlah_kamar_mandi: 1
                    komisi: '25'
                    komisi_sewa: '10'
                    status_unit: Jual/Sewa
                    nama_unit: Cluster Ciledug Seken
                    alamat: jl
                    kota: KOTA TANGERANG SELATAN
                    kecamatan: PONDOK AREN
                    sertifikat:
                      - SHM - Hak Milik
                      - SHM-SRS - Hak Milik Satuan Rumah Susun
                      - HGB - Hak Guna Bangunan
                      - Girik - Tanah Adat
                      - AJB - Akta Jual Beli
                      - PPJB - Perjanjian Jual Beli
                    nama_penjual: Pujalf
                    nama_pemilik: Donny Setiawan
                    provinsi: BANTEN
                    status_bangunan: Seken
                    nama_tipe_bangunan: Cluster
                    url_gallery_unit:
                      - https://stellarhome.totalit.co.id/media/secondary_unit/gallery_unit/Cluster Aceh Seken-656ff0954da07.webp
                    url_thumbnail_unit: https://stellarhome.totalit.co.id/media/secondary_unit/thumbnail_unit/cluster-aceh-seken-656ff0953566a.webp
                    status_listing: Sedang Mendaftar
                    luas_tanah: 25
                    luas_bangunan: 20
                  - id: 49
                    slug: apartement-bintaro
                    harga_unit: 0
                    harga_sewa_per_bulan: 5000000
                    harga_sewa_per_tahun: 0
                    jumlah_kamar_tidur: 2
                    jumlah_kamar_mandi: 2
                    komisi: '2'
                    komisi_sewa: '10'
                    status_unit: Sewa
                    nama_unit: Apartement Bintaro
                    alamat: Jl. Raya
                    kota: KOTA TANGERANG SELATAN
                    kecamatan: CIPUTAT TIMUR
                    sertifikat:
                      - AJB - Akta Jual Beli
                    nama_penjual: Affandi
                    nama_pemilik: Affan
                    provinsi: BANTEN
                    status_bangunan: Seken
                    nama_tipe_bangunan: Apartemen
                    url_gallery_unit:
                      - https://stellarhome.totalit.co.id/media/secondary_unit/gallery_unit/Apartement Bintaro-6552f1a22d23f.webp
                      - https://stellarhome.totalit.co.id/media/secondary_unit/gallery_unit/Apartement Bintaro-6552f1a29f100.webp
                      - https://stellarhome.totalit.co.id/media/secondary_unit/gallery_unit/Apartement Bintaro-6552f1a2ce664.webp
                      - https://stellarhome.totalit.co.id/media/secondary_unit/gallery_unit/Apartement Bintaro-6552f1a30a41c.webp
                      - https://stellarhome.totalit.co.id/media/secondary_unit/gallery_unit/Apartement Bintaro-6552f1a339d0c.webp
                      - https://stellarhome.totalit.co.id/media/secondary_unit/gallery_unit/Apartement Bintaro-6552f1a3509f3.webp
                      - https://stellarhome.totalit.co.id/media/secondary_unit/gallery_unit/Apartement Bintaro-6552f1a382247.webp
                    url_thumbnail_unit: https://stellarhome.totalit.co.id/media/secondary_unit/thumbnail_unit/apartement-bintaro-6552f1a3adb54.webp
                    status_listing: Belum Terdaftar
                    luas_tanah: 50
                    luas_bangunan: 70
                first_page_url: https://stellarhome.totalit.co.id/api/v1/mobile/secondary_unit?page=1
                from: 1
                last_page: 1
                last_page_url: https://stellarhome.totalit.co.id/api/v1/mobile/secondary_unit?page=1
                links:
                  - url: null
                    label: '&laquo; Previous'
                    active: false
                  - url: https://stellarhome.totalit.co.id/api/v1/mobile/secondary_unit?page=1
                    label: '1'
                    active: true
                  - url: null
                    label: Next &raquo;
                    active: false
                next_page_url: null
                path: https://stellarhome.totalit.co.id/api/v1/mobile/secondary_unit
                per_page: 15
                prev_page_url: null
                to: 8
                total: 8
          headers:
            Date:
              type: string
              default: Thu, 22 Feb 2024 15:28:20 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Vary:
              type: string
              default: Authorization
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=Wqy45sP5Go5FRwO8MR%2F4gmWe4pLHEre8%2FpD6dkFcW8OsLuGX9oChujOrKcPnPYGpm8DLkOC7%2FULVNXyuENYk4YxmX4KCsyq%2FHNxBR%2FeZNBGVf7IgmOLgqmxS3JOvKFkwjl23g9xqrchr6h80"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 8598421e1c5384d2-HKG
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
  /secondary_unit/detail/68:
    get:
      description: http://epichome.id/admin/api/v1/mobile/secondary_unit/detail/{id}
      summary: Secondary Unit Detail
      tags:
        - Secondary Unit
      operationId: SecondaryUnitDetail
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: false
          default: Bearer {token}
          type: string
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Getdatafailed'
          examples:
            application/json:
              success: false
              error: Get data failed.
              message: No data exist
          headers:
            Date:
              type: string
              default: Thu, 22 Feb 2024 05:02:54 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Vary:
              type: string
              default: Authorization
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=3v8l1MpDyj8ENuftbkk6Pqkvd50rwZhoqouM1lera8%2FpRtsxv%2BawaAv2kNJVDIevDDQMmC4L2HyUldfHDXCb%2F6SgRMvVvBjn%2BZNOxx2muky8HxmWUJZEImttzbCkAy3ubkRT2CHaGBf7JxtB"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 8594adf5abe0847b-HKG
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
  /secondary_unit/edit/87:
    get:
      summary: Edit Secondary Unit
      tags:
        - Secondary Unit
      operationId: EditSecondaryUnit
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: false
          default: Bearer {token}
          type: string
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Dataretrieved7'
          examples:
            application/json:
              success: true
              error: null
              message: Data retrieved.
              data:
                id: 87
                slug: apartemen-vivo
                harga_unit: 350000000
                harga_sewa_per_bulan: 1500000
                harga_sewa_per_tahun: 16000000
                luas_tanah_db: null
                luas_bangunan_db: null
                arah_bangunan: Timur
                jumlah_kamar_tidur: 2
                jumlah_kamar_mandi: 1
                jumlah_lantai: 2
                jumlah_garasi_mobil: 1
                listrik: 1000
                komisi: 5
                komisi_sewa: 3
                is_available: 1
                date_available: null
                lebar_jalan_depan: 100
                lingkungan_sekitar: null
                created_at: '2024-01-19T14:19:34.000000Z'
                updated_at: '2024-01-22T05:11:50.000000Z'
                id_tipe_bangunan: 6
                id_kantor_agent: 1
                id_sales: 8
                nomor_handphone_sales: '+621234567890'
                status_unit: Jual/Sewa
                nama_unit: Apartemen Vivo
                alamat: Malang, Jawa Tengah
                kota: KABUPATEN SIMEULUE
                kecamatan: TEUPAH SELATAN
                kondisi_bangunan: Standard
                sertifikat:
                  - SHM - Hak Milik
                atas_nama: Brando
                kelengkapan_surat: null
                line_telepon: 2
                air:
                  - PAM
                jumlah_garasi: null
                furniture_termasuk: Furnished
                deskripsi_unit: Apartemen Brawijaya 2 Kamar Tidur
                jenis_pembayaran:
                  - Installment
                  - Hardcash
                nama_penjual: Brando
                no_telepon_penjual: '+628987852852'
                nama_pemilik: Brando
                alamat_lengkap_pemilik: Jl. Sukahati No.106, Malang, Jawa tengah
                no_telepon_pemilik: '+628987852852'
                no_npwp_pemilik: null
                bersedia_dipasang:
                  - Tidak
                jangka_waktu_pemasangan: null
                open_house: null
                thumbnail_unit: apartemen-brawijoyo-65aa84f70b992.webp
                gallery_unit: []
                dokumen_fpl: null
                longitude: null
                latitude: null
                approved_status: Pending
                start_date_iklan: null
                end_date_iklan: null
                provinsi: ACEH
                status_bangunan: Seken
                closing_fee: 0
                reward: null
                publish: 1
                created_by: null
                url_gallery_unit: []
                url_thumbnail_unit: https://stellarhome.totalit.co.id/media/secondary_unit/thumbnail_unit/apartemen-brawijoyo-65aa84f70b992.webp
                url_dokumen_fpl: https://stellarhome.totalit.co.id/media/secondary_unit/dokumen_fpl/
                id_status_unit:
                  - 1
                  - 2
                unit_gallery: []
                luas_tanah: null
                luas_bangunan: null
          headers:
            Date:
              type: string
              default: Thu, 22 Feb 2024 15:34:33 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Vary:
              type: string
              default: Authorization
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=Cr68EvNRsQEGQs05c3ai6WLvzTC2I159R9%2FlCXLn%2FSg2Ptl6pBNAqBq7mvBTy%2Fc9f%2FsdM1tLZqwaNnqYiKDZQVjQGOCvRKgO7OrJs4pJaeYjY9znZ46JUjIoZO%2BurP1Fs9u8holD7qo3vNYa"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 85984b379fe084d2-HKG
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
  /secondary_unit/tambah:
    post:
      summary: Tambah Secondary Unit
      tags:
        - Secondary Unit
      operationId: TambahSecondaryUnit
      deprecated: false
      produces:
        - application/json
      consumes:
        - multipart/form-data
      parameters:
        - name: Authorization
          in: header
          required: false
          default: Bearer {token}
          type: string
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: id_tipe_bangunan
          in: formData
          required: true
          type: integer
          format: int32
          description: required|exist in tipe_bangunan
        - name: id_status_unit
          in: formData
          required: true
          type: array
          items:
            type: integer
            format: int32
          description: required|multiple|exist in status_unit
        - name: status_bangunan
          in: formData
          required: true
          type: string
          description: required|exist in status_bangunan
        - name: nama_unit
          in: formData
          required: true
          type: string
          description: required
        - name: alamat
          in: formData
          required: true
          type: string
          description: required
        - name: provinsi
          in: formData
          required: true
          type: string
          description: nullable|exist in provinsi
        - name: kota
          in: formData
          required: true
          type: string
          description: nullable|exist in provinsi
        - name: kecamatan
          in: formData
          required: true
          type: string
          description: nullable|exist in provinsi
        - name: luas_tanah
          in: formData
          required: true
          type: integer
          format: int32
          description: required|numeric
        - name: luas_bangunan
          in: formData
          required: true
          type: integer
          format: int32
          description: required|numeric
        - name: kondisi_bangunan
          in: formData
          required: true
          type: string
          description: required|exist in kondisi_bangunan
        - name: arah_bangunan
          in: formData
          required: true
          type: string
          description: required|exist in arah_bangunan
        - name: lebar_jalan_depan
          in: formData
          required: true
          type: integer
          format: int32
          description: required
        - name: sertifikat
          in: formData
          required: true
          type: array
          items:
            type: string
          description: required|multiple|exist in sertifikat
        - name: atas_nama
          in: formData
          required: true
          type: string
          description: required
        - name: jumlah_kamar_tidur
          in: formData
          required: true
          type: integer
          format: int32
          description: nullable
        - name: jumlah_kamar_mandi
          in: formData
          required: true
          type: integer
          format: int32
          description: nullable
        - name: jumlah_lantai
          in: formData
          required: true
          type: integer
          format: int32
          description: nullable
        - name: jumlah_garasi_mobil
          in: formData
          required: true
          type: integer
          format: int32
          description: nullable
        - name: listrik
          in: formData
          required: true
          type: integer
          format: int32
          description: nullable
        - name: line_telepon
          in: formData
          required: true
          type: integer
          format: int32
          description: nullable
        - name: air
          in: formData
          required: true
          type: array
          items:
            type: string
          description: nullable|multiple|exist in tipe_air
        - name: furniture_termasuk
          in: formData
          required: true
          type: string
          description: nullable|exist in furniture
        - name: deskripsi_unit
          in: formData
          required: true
          type: string
          description: nullable
        - name: harga_unit
          in: formData
          required: true
          type: integer
          format: int32
          description: required
        - name: harga_sewa_per_bulan
          in: formData
          required: true
          type: integer
          format: int32
          description: required|sometimes
        - name: harga_sewa_per_tahun
          in: formData
          required: true
          type: integer
          format: int32
          description: required|sometimes
        - name: jenis_pembayaran
          in: formData
          required: true
          type: array
          items:
            type: string
          description: nullable|multiple|exist in jenis_pembayaran
        - name: nama_penjual
          in: formData
          required: true
          type: string
          description: required
        - name: no_telepon_penjual
          in: formData
          required: true
          type: string
          description: required
        - name: nama_pemilik
          in: formData
          required: true
          type: string
          description: required
        - name: no_telepon_pemilik
          in: formData
          required: true
          type: string
          description: required
        - name: alamat_lengkap_pemilik
          in: formData
          required: true
          type: string
          description: required
        - name: no_npwp_pemilik
          in: formData
          required: true
          type: string
          description: required
        - name: bersedia_dipasang
          in: formData
          required: true
          type: array
          items:
            type: string
          description: required|multiple|exist in bersedia_dipasang
        - name: start_date_iklan
          in: formData
          required: true
          type: string
          description: nullable
        - name: end_date_iklan
          in: formData
          required: true
          type: string
          description: nullable
        - name: open_house
          in: formData
          required: true
          type: string
          description: nullable|exist in open_house
        - name: gallery_unit
          in: formData
          required: true
          type: array
          items:
            type: string
          description: nullable|multiple data
        - name: thumbnail_unit
          in: formData
          required: true
          type: file
          format: file
          description: nullable|image
        - name: longitude
          in: formData
          required: true
          type: string
          description: nullable
        - name: latitude
          in: formData
          required: true
          type: string
          description: nullable
        - name: komisi
          in: formData
          required: true
          type: integer
          format: int32
          description: required|numeric
        - name: komisi_sewa
          in: formData
          required: true
          type: integer
          format: int32
          description: required|sometimes|numeric
        - name: publish
          in: formData
          required: true
          type: integer
          format: int32
          description: required|in:0,1
        - name: fasilitas_umum
          in: formData
          required: true
          type: array
          items:
            type: string
          description: required
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI1IiwianRpIjoiOTEyNjI0Y2U1NTRkYTQ1NTlhYWVmOWExYzljM2UzZjlkOTk2MjIyZGFjZDk1YmFlZTA0ZmM1ZTU0NzdlNjMwNjU3MWFlNTQyY2ZlMWRkNzkiLCJpYXQiOjE3MDg5MjA1NTguNzU0ODY4MDMwNTQ4MDk1NzAzMTI1LCJuYmYiOjE3MDg5MjA1NTguNzU0ODcyMD'
          examples:
            application/json:
              success: true
              error: null
              message: Secondary unit berhasil disimpan.
              data:
                id_tipe_bangunan: '6'
                status_bangunan: Baru
                nama_unit: Apartemen Brawijoyo
                alamat: Malang, Jawa Tengah
                provinsi: ACEH
                kota: KABUPATEN SIMEULUE
                kecamatan: TEUPAH SELATAN
                kondisi_bangunan: Standard
                arah_bangunan: Timur
                lebar_jalan_depan: '100'
                sertifikat:
                  - SHM - Hak Milik
                  - HGB - Hak Guna Bangunan
                atas_nama: Brando
                jumlah_kamar_tidur: '2'
                jumlah_kamar_mandi: '1'
                jumlah_lantai: '2'
                jumlah_garasi_mobil: '1'
                listrik: '1000'
                line_telepon: '2'
                air:
                  - PAM
                furniture_termasuk: Furnished
                deskripsi_unit: Apartemen Brawijaya 2 Kamar Tidur
                harga_unit: '350000000'
                harga_sewa_per_bulan: '1500000'
                harga_sewa_per_tahun: '16000000'
                jenis_pembayaran:
                  - Installment
                  - Hardcash
                nama_penjual: Brando
                no_telepon_penjual: '+628987852852'
                nama_pemilik: Brando
                no_telepon_pemilik: '+628987852852'
                alamat_lengkap_pemilik: Jl. Sukahati No.106, Malang, Jawa tengah
                no_npwp_pemilik: null
                bersedia_dipasang:
                  - Tidak
                start_date_iklan: null
                end_date_iklan: null
                open_house: null
                longitude: null
                latitude: null
                komisi: '5'
                komisi_sewa: '3'
                publish: '1'
                id_sales: 8
                id_kantor_agent: 1
                nomor_handphone_sales: '+621234567890'
                approved_status: Pending
                is_available: 1
                status_unit: Jual/Sewa
                thumbnail_unit: apartemen-brawijoyo-65aa7f6c68f49.webp
                slug: apartemen-brawijoyo
                updated_at: '2024-01-19T13:55:57.000000Z'
                created_at: '2024-01-19T13:55:56.000000Z'
                id: 82
                gallery_unit: []
                luas_tanah: null
                luas_bangunan: null
                proyek_primary: null
          headers:
            Date:
              type: string
              default: Mon, 26 Feb 2024 04:23:48 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '58'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Vary:
              type: string
              default: Authorization
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=kveUi1POCh7BDjjA9S7xC3RZSAUm7i%2F95LvFm7%2Bem6rJ2RmLoawU6oynmeRY8Lg%2FGlm7L3y40ZHwSNVsMPqxWqCD4bTM2%2Fz9DyTP%2B0upRjqmPe266sbZ9ShFjXOU7oPNt63ZzG3g8DrMjds5"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 85b56a29db3d04ee-HKG
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
  /secondary_unit/update/87:
    post:
      summary: Update Secondary Unit
      tags:
        - Secondary Unit
      operationId: UpdateSecondaryUnit
      deprecated: false
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: Authorization
          in: header
          required: false
          default: Bearer {token}
          type: string
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: id_tipe_bangunan
          in: formData
          required: true
          type: integer
          format: int32
          description: required|exist in tipe_bangunan
        - name: id_status_unit
          in: formData
          required: true
          type: array
          items:
            type: string
          description: required|multiple|exist in status_unit
        - name: status_bangunan
          in: formData
          required: true
          type: string
          description: required|exist in status_bangunan
        - name: nama_unit
          in: formData
          required: true
          type: string
          description: required
        - name: alamat
          in: formData
          required: true
          type: string
          description: required
        - name: provinsi
          in: formData
          required: true
          type: string
          description: nullable|exist in provinsi
        - name: kota
          in: formData
          required: true
          type: string
          description: nullable|exist in provinsi
        - name: kecamatan
          in: formData
          required: true
          type: string
          description: nullable|exist in provinsi
        - name: luas_tanah
          in: formData
          required: true
          type: integer
          format: int32
          description: required|numeric
        - name: luas_bangunan
          in: formData
          required: true
          type: integer
          format: int32
          description: required|numeric
        - name: kondisi_bangunan
          in: formData
          required: true
          type: string
          description: required|exist in kondisi_bangunan
        - name: arah_bangunan
          in: formData
          required: true
          type: string
          description: required|exist in arah_bangunan
        - name: lebar_jalan_depan
          in: formData
          required: true
          type: integer
          format: int32
          description: required
        - name: sertifikat
          in: formData
          required: true
          type: array
          items:
            type: string
          description: required|multiple|exist in sertifikat
        - name: atas_nama
          in: formData
          required: true
          type: string
          description: required
        - name: jumlah_kamar_tidur
          in: formData
          required: true
          type: integer
          format: int32
          description: nullable
        - name: jumlah_kamar_mandi
          in: formData
          required: true
          type: integer
          format: int32
          description: nullable
        - name: jumlah_lantai
          in: formData
          required: true
          type: integer
          format: int32
          description: nullable
        - name: jumlah_garasi_mobil
          in: formData
          required: true
          type: integer
          format: int32
          description: nullable
        - name: listrik
          in: formData
          required: true
          type: integer
          format: int32
          description: nullable
        - name: line_telepon
          in: formData
          required: true
          type: integer
          format: int32
          description: nullable
        - name: air
          in: formData
          required: true
          type: array
          items:
            type: string
          description: nullable|multiple|exist in tipe_air
        - name: furniture_termasuk
          in: formData
          required: true
          type: string
          description: nullable|exist in furniture
        - name: deskripsi_unit
          in: formData
          required: true
          type: string
          description: nullable
        - name: harga_unit
          in: formData
          required: true
          type: integer
          format: int32
          description: required
        - name: harga_sewa_per_bulan
          in: formData
          required: true
          type: integer
          format: int32
          description: required|sometimes
        - name: harga_sewa_per_tahun
          in: formData
          required: true
          type: integer
          format: int32
          description: required|sometimes
        - name: jenis_pembayaran
          in: formData
          required: true
          type: array
          items:
            type: string
          description: nullable|multiple|exist in jenis_pembayaran
        - name: nama_penjual
          in: formData
          required: true
          type: string
          description: required
        - name: no_telepon_penjual
          in: formData
          required: true
          type: string
          description: required
        - name: nama_pemilik
          in: formData
          required: true
          type: string
          description: required
        - name: no_telepon_pemilik
          in: formData
          required: true
          type: string
          description: required
        - name: alamat_lengkap_pemilik
          in: formData
          required: true
          type: string
          description: required
        - name: no_npwp_pemilik
          in: formData
          required: true
          type: string
          description: required
        - name: bersedia_dipasang
          in: formData
          required: true
          type: array
          items:
            type: string
          description: required|multiple|exist in bersedia_dipasang
        - name: start_date_iklan
          in: formData
          required: true
          type: string
          description: nullable
        - name: end_date_iklan
          in: formData
          required: true
          type: string
          description: nullable
        - name: open_house
          in: formData
          required: true
          type: string
          description: nullable|exist in open_house
        - name: gallery_unit
          in: formData
          required: true
          type: array
          items:
            type: string
          description: nullable|multiple data
        - name: longitude
          in: formData
          required: true
          type: string
          description: nullable
        - name: latitude
          in: formData
          required: true
          type: string
          description: nullable
        - name: komisi
          in: formData
          required: true
          type: integer
          format: int32
          description: required|numeric
        - name: komisi_sewa
          in: formData
          required: true
          type: integer
          format: int32
          description: required|sometimes|numeric
        - name: publish
          in: formData
          required: true
          type: integer
          format: int32
          description: required|in:0,1
        - name: fasilitas_umum
          in: formData
          required: true
          type: array
          items:
            type: string
          description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/UpdateSecondaryUnit'
          examples:
            application/json:
              success: true
              error: null
              message: Data Secondary Unit berhasil disimpan.
              data:
                id: 87
                slug: apartemen-vivo
                id_proyek_primari: null
                id_cluster: null
                id_tipe_unit: null
                harga_unit: '350000000'
                harga_sewa_per_bulan: '1500000'
                harga_sewa_per_tahun: '16000000'
                harga_per_meter: 0
                blok: null
                nomor_unit: null
                luas_tanah_db: null
                luas_bangunan_db: null
                arah_bangunan: Timur
                jumlah_kamar_tidur: '2'
                jumlah_kamar_mandi: '1'
                jumlah_lantai: '2'
                jumlah_garasi_mobil: '1'
                listrik: '1000'
                komisi: '5'
                komisi_sewa: '3'
                is_available: 1
                date_available: null
                lebar_jalan_depan: '100'
                lingkungan_sekitar: null
                gambar_unit: null
                created_at: '2024-01-19T14:19:34.000000Z'
                updated_at: '2024-01-22T05:11:50.000000Z'
                id_tipe_bangunan: '6'
                id_kantor_agent: 1
                id_sales: 8
                nomor_handphone_sales: '+621234567890'
                status_unit: Jual/Sewa
                nama_unit: Apartemen Vivo
                alamat: Malang, Jawa Tengah
                kota: KABUPATEN SIMEULUE
                kecamatan: TEUPAH SELATAN
                kondisi_bangunan: Standard
                sertifikat:
                  - SHM - Hak Milik
                atas_nama: Brando
                kelengkapan_surat: null
                line_telepon: '2'
                air:
                  - PAM
                jumlah_garasi: null
                furniture_termasuk: Furnished
                deskripsi_unit: Apartemen Brawijaya 2 Kamar Tidur
                jenis_pembayaran:
                  - Installment
                  - Hardcash
                nama_penjual: Brando
                no_telepon_penjual: '+628987852852'
                nama_pemilik: Brando
                alamat_lengkap_pemilik: Jl. Sukahati No.106, Malang, Jawa tengah
                no_telepon_pemilik: '+628987852852'
                no_npwp_pemilik: null
                bersedia_dipasang:
                  - Tidak
                jangka_waktu_pemasangan: null
                open_house: null
                thumbnail_unit: apartemen-brawijoyo-65aa84f70b992.webp
                gallery_unit: []
                longitude: null
                latitude: null
                approved_status: Pending
                start_date_iklan: null
                end_date_iklan: null
                provinsi: ACEH
                status_bangunan: Baru
                closing_fee: 0
                reward: null
                publish: '1'
                created_by: null
                luas_tanah: null
                luas_bangunan: null
                proyek_primary: null
          headers:
            Date:
              type: string
              default: Mon, 26 Feb 2024 04:25:45 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Vary:
              type: string
              default: Authorization
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=68cCUio49g8bpC41C1QSAoD4vztXClexU1x5Ow1ylmzKYZKvrVCpSuNihN2%2FlpVfdBca8Vp05nXACdA5jdRKVZhZZ1tdVTv3fRNOFXBzuQbITspDCRXJP5ByCZASuEOXcmPKAjPtxNxrjoTu"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 85b56d0a0c7004ee-HKG
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
  /secondary_unit/helper:
    get:
      summary: Secondary Unit Helper
      tags:
        - Secondary Unit
      operationId: SecondaryUnitHelper
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: false
          default: Bearer {token}
          type: string
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Dataretrieved8'
          examples:
            application/json:
              success: true
              error: null
              message: Data retrieved.
              data:
                tipe_bangunan:
                  - value: 1
                    text: Town House
[...]
